{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Email changed!" %}{% endblock %}

{% block content %}
<div id="site-wrapper"> 
    <div class="content-wrapper content-container user-page">
        <div class="page-heading clearfix">
            <ul class="archives-post">
                <li><a href="{% url 'userena_profile_detail' user.username %}"><i class="mdi mdi-account"></i> View Profile</a></li>
                <li><a href="{% url 'profile_edit' user.username %}"><i class="mdi mdi-pencil"></i> Edit Profile</a></li>
                <li><a href="{% url 'userena_email_change' user.username %}"><i class="mdi mdi-email"></i> Change Email</a></li>
                <li><a href="{% url 'userena_password_change' user.username %}"><i class="mdi mdi-lock-open"></i> Change Password</a></li>
            </ul>
            <h2><b>New Email</b></h2>
        </div>
		<p>{% blocktrans with site.name as site %}Your new email address is saved. You can continue using {{ site }} with this email.{% endblocktrans %}</p>
	</div>
</div>
{% endblock %}
