{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div id="site-wrapper"> 
    <div class="content-wrapper content-container user-page">
        <div class="page-heading"><h2><b>Reset Password</b></h2></div>
        <div class="form-container">
			<form action="" method="post">
			  <fieldset>
			    {% csrf_token %}
			    {{ form.as_p }}
			  </fieldset>
			  <input type="submit" value="{% trans "Reset password" %}" />
			</form>
		</div>
	</div>
</div>
{% endblock %}
