{% extends 'userena/base_userena.html' %}
{% load thumbnail %}
{% load i18n %}

{% block content %}

<div id="site-wrapper">

    <div id="details" class="profile-details">
      {% block profile_details %}
          <div class="cover-photo" {% if profile.cover %}style="background-image:url('../..{{profile.cover.url}}');"{% endif %}></div>
        <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        <dl>
          {% block profile_definition_list %}

            <div class="page-heading">
              <h2><b>{{ profile.user.username }}</b> {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>
            </div>
            {% if profile.profession %}
                <dd>{{ profile.profession }}</dd>
            {% endif %}
            {% if profile.location %}
                <dd>{{ profile.location }}</dd>
            {% endif %}
            {% if profile.website_url %}
                <dd>
                  {% if profile.website_name %}
                  <a href="{{profile.website_url}}">
                    {{profile.website_name}}
                  </a>
                    {% else %}
                    {{profile.website_url|urlize }}
                    {% endif %}
                </dd>
            {% endif %}
            {% if profile.user.email and not hide_email %}
                <dd><a href="mailto:{{profile.user.email}}">{{ profile.user.email }}</a></dd>
            {% endif %}

            <!--{% if profile.cover %}
                <dt>Cover photo path:</dt>
                <dd>{{profile.cover.url}}</dd>
            {% endif %}-->
            
          {% endblock %}
        </dl>
      {% endblock %}

      {% if user.username == profile.user.username %}

        <dl>
          <dd><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></dd> 
          <dd><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></dd> 
          <dd><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></dd>
        </dl>

      {% endif %}

      {% if user.username == profile.user.username %}
         {% if user.is_superuser %}
             <p><a href="{% url 'invite_form' %}">Invite Users</a></p>
         {% endif %}
      {% endif %}


      <!--{% with questions=user.profile.questions %}
          {% if questions.count %}
              <h3>Questions Asked</h3>

              <ul>
                  {% for question in questions %}
                      <li><a href="{{question.get_absolute_url}}">{{question.added}}: {{question.body}}</a></li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endwith %}

      {% with questions=user.profile.replied_to %}
          {% if questions %}
              <h3>Questions Replied to</h3>

              <ul>
                  {% for question in questions %}
                      <li><a href="{{question.get_absolute_url}}">{{question.added}}: {{question.body}}</a></li>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endwith %}-->
</div>
</div>

</div>

</div>
{% endblock %}


