{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div class="container userena">
		<div class="row staticnav">
	<div class="col-md-4">
		<a href="/">
		<video class="video-js vjs-default-skin"
					 id="banner-video" 
					 autoplay loop>
			<source src="http://spokehub-video.s3.amazonaws.com/spokehub_banner_1650_900.mp4">
				<source src="http://spokehub-video.s3.amazonaws.com/spokehub_banner_1650_900.mp4"
								type="video/mp4">
		</video>
		</a>
	</div>
	</div>
		<div class="row">
		<div class="col-md-4 col-md-offset-4">
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <h1>{% trans "Sign In to Spokehub" %}</h1>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field|bootstrap }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input type="submit" class="btn btn-primary pull-right" value="{% trans "Signin" %}" />
<!--  <p class="forgot-password"><a href="{% url --
	--  'userena_password_reset' %}" title="{% trans 'Forgot your --
	--  password?' %}">{% trans "Forgot your password?" %}</a></p> -->
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
</div>
</div>
{% endblock %}
