{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div id="site-wrapper"> 
    <div class="content-wrapper content-container userena login-errors user-page">
        <div class="page-heading"><h2><b>LOGIN</b></h2></div>
		<div class="row">
    		<div class="col-md-4 col-md-offset-4">
                <div class="form-container">
                    <form action="" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {{ form.non_field_errors }}
                            {% for field in form %}
                            {{ field.errors }}
                            <p>
                            {% bootstrap_field field %}
                            </p>
                            {% endfor %}
                        </fieldset>
                        <p id="forgot-password"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
                        <input type="submit" class="btn btn-primary pull-right" value="{% trans "SUBMIT" %}" />
                        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
