<div class="we we-main">

{% extends 'userena/base_userena.html' %}
{% load thumbnail %}
{% load i18n %}

{% block content %}

<div id="site-wrapper">
    <div class="content-wrapper content-container">
          <div class="page-heading">
              <h2><b>HUB USER INDEX</b></h2>
          </div>

          <div class="hub_user_index">

            <div id="grid" class="clearfix" data-columns>
                <div class="question">
                  <div class="cover-photo" style="background-image:url('http://spokehub.org/uploads/mugshots/thumbs/f42dc1a718.jpg.200x200_q85.jpg');"></div>
                  <img class="mugshot" src="http://spokehub.org/uploads/mugshots/thumbs/f42dc1a718.jpg.200x200_q85.jpg"/>
                  <div class="page-heading">
                      <h2><b>ALEKSS</b> (ALEKS SLOTA)</h2>
                  </div>
                  <dd>Photographer, Visual Artist</dd>
                  <dd>Berlin, Germany</dd>
                  <dd>
                      <a href="http://photography.aleksslota.com/"target="_blank">
                          Aleks Slota Photography
                      </a>
                  </dd>
                  <dd><a href="mailto:aslota@gmail.com">aslota@gmail.com</a></dd>
                </div>
                <div class="question">
                  <div class="cover-photo" style="background-image:url('http://spokehub.org/uploads/coverimages/2016/03/22/12672053_10153753220.jpg');"></div>
                  <img class="mugshot" src="http://spokehub.org/uploads/mugshots/thumbs/3b94493ad3.jpg.200x200_q85.jpg"/>
                  <div class="page-heading">
                      <h2><b>AN</b> (AN PAENHUYSEN)</h2>
                  </div>
                  <dd>art critic, curator, art educator</dd>
                  <dd>Berlin, Germany</dd>
                  <dd>
                      <a href="http://www.anpaenhuysen.com%2C%20anpaenhuysen.blogspot.com/"target="_blank">
                          An Paenhuysen
                      </a>
                  </dd>
                  <dd><a href="mailto:paenhuysenan@gmail.com">paenhuysenan@gmail.com</a></dd>
                </div>

                <div class="question">
                  <div class="cover-photo" style="background-image:url('http://spokehub.org/uploads/covers/869_720.jpg');"></div>
                  <img class="mugshot" src="http://spokehub.org/uploads/mugshots/bc9afb5467.jpg"/>
                  <div class="page-heading">
                      <h2><b>ANDERS</b> (anders pearson)</h2>
                  </div>
                  <dd>Cat Slave</dd>
                  <dd>London, U(c)K</dd>
                  <dd>
                      <a href="https://thraxil.org/"target="_blank">
                          thraxil.org
                      </a>
                  </dd>
                  <dd><a href="mailto:anders@columbia.edu">anders@columbia.edu</a></dd>
                </div>

                <div class="question">
                  <div class="cover-photo" style="background-image:url('http://spokehub.org/uploads/covers/bear-1120639.jpg');"></div>
                  <img class="mugshot" src="http://spokehub.org/uploads/mugshots/010524790a.jpg"/>
                  <div class="page-heading">
                      <h2><b>ANDREWBERRY</b> (andrew berry)</h2>
                  </div>
                  <dd>Artist, Illustrator, Designer</dd>
                  <dd>Berlin, Germany</dd>
                  <dd>
                      <a href="http://www.tastefulnudes.biz/"target="_blank">
                          tastefulnudes.biz
                      </a>
                  </dd>
                  <dd><a href="mailto:andrewberrydesign@gmail.com">andrewberrydesign@gmail.com</a></dd>
                </div>

            </div>

          </div>

    </div>
</div>

{% endblock %}

</div>
