{% extends 'base.html' %}

{% block content %}
<div id="about-container">
    <div class="about-title">
       <h3>SPOKEHUB is an art + design think tank, based in Berlin, with global creative partners.</h3>
    </div>
    <div class="about-copy">
      <p>We offer insights, strategy, design and curation, with 5 principles in mind:</p>
      <p>#1 SPOKEHUB unfucks today's issues, to make the <b>future</b> better for everyone.</p>
      <p>#2 SPOKEHUB creates design with <b>he(art);</b> passion and meaning are our priorities.</p>
      <p>#3 SPOKEHUB combines strategy, art and design thinking, on every <b>team</b> and mission.</p>
      <p>#4 SPOKEHUB breaks bad habits, patterns and <b>norms</b>, with constructive disruption.</p>
      <p>#5 SPOKEHUB works with knowledge (not guess-ledge), so our work is grounded in <b>truth</b> and effects real change.</p>
    </div>
    <div class="about-undertitle">
      <p>Our website is undergoing its annual polish, so give <a href="https://www.linkedin.com/in/onikasimon">Onika</a> a call if you'd like to know more.</p>
    </div>
</div>

{% endblock %}
