{% extends 'base.html' %}

{% block content %}
<div id="about-container">
  <div class="about-title">
    <h3><b>SPOKEHUB</b> is an anti-agency.</h3>
    </div>
    <div class="about-copy">
      <p>We are thinkers and makers who collaborate to innovate,
        and our circle is global with a hub in Berlin.</p>
      <p></p>
      <p>Our mission is to reinvent how innovative work is created and valued.</p>
      <p>By <b>breaking bad habits</b>, to clear the way for new solutions.</p>
      <p>By <b>starting with knowledge</b> rather than guess-work.</p>
      <p>By <b>combining art, design and strategy</b>, to ensure fresh thinking.</p>
      <p>And by <b>redressing imbalances</b> in conversations, in design and in society.</p>
      <p></p>
      <p>Our clients aren't interested in tweaking the status quo.</p>
      <p>They want world class talent, working flexibly on bespoke and breakthrough
        innovations.</p>
      <p>This is <b>HOW WE WORK NOW.</b></p>

    </div>
    <div class="about-undertitle">
      <p>Our website is undergoing its annual polish, so give <a href="https://www.linkedin.com/in/onikasimon">Onika</a> a call if you'd like to know more.</p>
    </div>
</div>

{% endblock %}
