{% load waffle_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>spokehub: {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="spokehub">
  <meta name="author" content="spokehub">
{% compress css %}
	<link href="{{STATIC_URL}}dist/styles/spokehub.css" rel="stylesheet">
{% endcompress %}
{% block css %}{% endblock %}
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
{% block feeds %}{% endblock %}
</head>
{% block bodytag %}
<body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
{% endblock %}

{% flag "main" %}

	<header>
		<h1>SPOKEHUB</h1>
		<span onclick="$('.card-signin').toggle(300);">LOGIN</span>
	</header>

{% else %}
{% comment %} placeholder mode {% endcomment %}
{% endflag %}

{% block pagetitle %}{% endblock %}
{% block content %}{% endblock %}

{% block footer %}
{% flag main %}

<footer>

</footer>

{% else %}
<footer>
	<div class="footer-wrapper">
			<ul>
				<li><a onclick="$('#about-button').toggle(333);" href="#">about</a></li>
				<li><a href="mailto:info@spokehub.com"><i class="mdi mdi-email"></i></a></li>
				<li><a href="https://twitter.com/spokehubnow"><i class="mdi mdi-twitter"></i></a></li>
				<li><a href="https://www.facebook.com/SpokehubNOW?_rdr"><i class="mdi mdi-facebook"></i></a></li>
			</ul>
		<span class="copyright">&copy; copyright SPOKEHUB <span id="copyright-year"></span> all rights reserved.</span>
	</div>
</footer>
{% endflag %}
{% endblock %}

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
{% block js %}{% endblock %}

{% if GA_CODE %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{GA_CODE}}', 'spokehub.org');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
