{% load waffle_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Spokehub: {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="spokehub">
  <meta name="author" content="spokehub">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="../assets/js/html5shiv.js"></script>
  <script src="../assets/js/respond.min.js"></script>
<![endif]-->

{% compress css %}
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
{% endcompress %}
<link rel="stylesheet" href="{{STATIC_URL}}css/bjqs.css">
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{{STATIC_URL}}js/libs/bjqs-1.3.js"></script>
<script src="{{STATIC_URL}}components/masonry/dist/masonry.pkgd.min.js"></script>

	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
	{% block css %}{% endblock %}


	{% block feeds %}{% endblock %}
</head>
{% block bodytag %}
<body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
{% endblock %}

<header>
	<div id="header-wrapper" class="content-container">
		<a href="{% url 'index' %}" id="spokehub-logo"><img src="{{STATIC_URL}}img/spokehub-web-logo.png"></a>
	  	<nav class="desktop-nav">
	    	<a class="how" href="{% url 'how' %}">HOW</a>
	    	<a class="we" href="{% url 'we' %}">WE</a>
	    	<a class="work" href="{% url 'work' %}">WORK</a>
	    	<a class="now" href="{% url 'now' %}">NOW</a>
	  	</nav>

	  	{% if request.user.is_anonymous %}
			<p><a href="{% url 'userena_signin' %}" id="login-link">Login</a></p>
			{% else %}
			<p><img src="{{request.user.profile.get_mugshot_url}}" class="logged-in-thumb"/> {{request.user.username}} | <a href="{% url 'userena_signout' %}">Log Out</a></p>
		{% endif %}

	</div>
</header>

{% flag "main" %}
{% else %}
{% comment %} placeholder mode {% endcomment %}
{% endflag %}

{% block pagetitle %}{% endblock %}
{% block content %}{% endblock %}

{% block footer %}
<footer>
	<div class="footer-wrapper content-container">
		<ul>
			<li><a href="https://www.linkedin.com/company/spokehub-ltd-"target="_blank"><i class="mdi mdi-linkedin"></i></a></li>
			<li><a href="https://twitter.com/spokehubnow"target="_blank"><i class="mdi mdi-twitter"></i></a></li>
			<li><a href="https://www.facebook.com/SpokehubNOW?_rdr"target="_blank"><i class="mdi mdi-facebook-box"></i></a></li>
			<li><a href="https://www.instagram.com/spokehubnow/"target="_blank"><i class="mdi mdi-instagram"></i></a></li>
			<li><a href="http://spokehub.tumblr.com/"target="_blank"><i class="mdi mdi-tumblr"></i></a></li>
		</ul>
		<span class="copyright">&copy; copyright Spokehub <span id="copyright-year"></span> <span class="all-rights">all rights reserved</span></span>
	</div>
</footer>
{% endblock %}

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

{% block js %}{% endblock %}
<script>
  $(document).ready(function() {
    var currentYear = (new Date).getFullYear();
    $('#copyright-year').text(currentYear);
  });
</script>

<script>
	$(document).ready(function() {
	    var text_max = 140;
	    $('#textarea_feedback').html(text_max + ' characters remaining');

	    $('#textarea').keyup(function() {
	        var text_length = $('#textarea').val().length;
	        var text_remaining = text_max - text_length;

	        $('#textarea_feedback').html(text_remaining + ' characters remaining');

	        if (text_remaining < 10) {
	        	$('#textarea_feedback').css("color", "#ec008c");
	        }
	        else {
	        	$('#textarea_feedback').css("color", "#000");	
	        }

	    });
	});
</script>

{% if GA_CODE %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{GA_CODE}}', 'spokehub.org');
  ga('send', 'pageview');
</script>

{% endif %}
</body>
</html>
