{% extends 'base.html' %}
{% block content %}

<div id="constrainer">

<div id="box1" class="box">
	<p>Here's content for the box 1</p>
</div>

<div id="box2" class="box">
	<p>Here's content for the box 2</p>
</div>

<div id="box3" class="box">
	<p>Here's content for the box 3</p>
</div>

<div id="box4" class="box">
	<p>Here's content for the box 4</p>
</div>

<div id="box5" class="box">
	<p>Here's content for the box 5</p>
</div>

<div id="box6" class="box">
	<p>Here's content for the box 6</p>
</div>

<div id="box7" class="box">
	<p>Here's content for the box 7</p>
</div>

<div id="box8" class="box">
	<p>Here's content for the box 8</p>
</div>


<div class="clearfix"></div>
</div>

{% endblock %}
{% block js %}

<style type="text/css">
.box {
   width: 200px;
   height: 200px;
   background-color: #eee;
   position: absolute;
   border: #000 solid 1px;
   display: block;
}

html, body, #outer-container {
  height: 100%;
}
#constrainer {
   width: 100%;
   height: 100%;
}
</style>

<script>


var w = $('#constrainer').width();
var h = $('#constrainer').height();
var o = $('#constrainer').offset();

var positions = new Array();

var limit_pos = function (p) {
   var left = p.left;
   var top = p.top;
   if (left < o.left) {
      left = o.left;
   }
   if (left > (w - 200)) {
       left = w - 200;
   }
   if (top < o.top) {
      top = o.top;
   }
   if (top > (h - 200)) {
      top = h - 200;
   }
   return {left: left, top: top};
}

var k = w * h;
var ease = function() {
  var anymoved = false;
  var boxes = $('.box');
  $('.box').each(
    function(i, c) {
    var current = $(c);
    var x_force = 0;
    var y_force = 0;
    $('.box').each(
    function(j, n) {
      if (i == j) {
        return;
      }
      var dx = positions[i].left - positions[j].left;
      var dy = positions[i].top - positions[j].top;
      var r2 = (dx * dx) + (dy * dy);
      if (Math.abs(r2) > 1 && Math.abs(r2) < (200 * 200 * 1.4)) {
        var ux = dx / Math.sqrt(r2);
        var uy = dy / Math.sqrt(r2);
        x_force += k * (ux / r2);
        y_force += k * (uy / r2);
        anymoved = true;
      }
    });
    var new_x = Math.round(positions[i].left + x_force);
    var new_y = Math.round(positions[i].top + y_force);
    var new_pos = limit_pos({left: new_x, top: new_y});
    current.animate({left: new_pos.left + 'px', top: new_pos.top + 'px'});
    positions[i] = {left: new_pos.left, top: new_pos.top};
  });
  if (anymoved) {
    setTimeout(ease, 400);
  } else {
    console.log("none moved, so we're done");
  }
}

// initial positioning
$('.box').each(
   function(i, v) {
    var x = (Math.floor((Math.random()*(w - $(v).width()))) + o.left);
    var y = (Math.floor((Math.random()*(h - $(v).height()))) + o.top);
     $(v).animate({left: x + 'px', top: y + 'px'});
    positions[i] = {left: x, top: y};
});

setTimeout(ease, 400);

</script>

{% endblock %}
