<div class="profile black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<div class="page-heading">
				<h2><b>Welcome, Ariel!</b></h2>
			</div>
			<p>Please create your Spokehub profile. All fields are required.</p>
      <form action="{% url 'userena_signup' %}" method="post">
          {% csrf_token %}
			    <ul class="profile-form">
				      <li><input name="username" type="text" placeholder="Username"></li>
				      <li><input name="password1" type="password" placeholder="Password"></li>
				      <li><input name="location" type="text" placeholder="City & country"></li>
				      <li><input name="profession" type="text" placeholder="Profession"></li>
			    </ul>
			    <ul class="profile-form column2">
				      <li><input name="website" type="text" placeholder="Website"></li>
				      <li><input name="password2" type="password" placeholder="Repeat Password"></li>          
				      <li><input type="submit" value="SUBMIT" class="submit"></li>
			    </ul>
      </form>
      
		</div>
	</div>
{% endblock %}

</div>
