/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;background:#464646;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/*@media only screen and (min-width: 1023px) {
	ul.bjqs-controls.v-centered li.bjqs-next a{right:-48px;}
	ul.bjqs-controls.v-centered li.bjqs-prev a{left:-47px;}
}*/

pre{
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

pre + h2{
	margin-top: 80px;
}

#bjqs-container{
	max-width:960px;
	margin:0 auto;
	padding-bottom:80px;
}

.how #banner-fade {
	margin-top: 0;
	margin-bottom: 40px;
}

.how li.bjqs-slide {
	background: #000;
}

#banner-fade,
#banner-slide {
	margin-bottom: 60px;
	margin: 0 auto;
	margin-top: 30px;
}

#site-wrapper ul.bjqs-controls.v-centered li a{
	display: block;
	padding: 10px 5px;
	background: rgba(255,255,255,0.5);
	color: #000;
	text-decoration: none;

	position: absolute;
	margin-top: -37px;
	top: 50% !important;
	font-size: 25px;
}

#site-wrapper ul.bjqs-controls.v-centered li a:hover{
	background: rgba(255,255,255,1);
}

#site-wrapper ol.bjqs-markers li a{
	padding: 0px;
	background:#a6a6a6;
	color:#000;
	margin: 20px 8px 0;
	text-decoration: none;
	width: 12px;
	height: 12px;
	border-radius: 150px;
	text-indent: 100%;
  	white-space: nowrap;
  	overflow: hidden;
}

#site-wrapper ol.bjqs-markers li.active-marker a,
#site-wrapper ol.bjqs-markers li a:hover{
	background: #fff;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

.bjqs-prev a,
.bjqs-next a {
  	font-family: "MaterialDesignIcons";
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#banner-fade,
	.embedded-vimeo,
	.youtube-embedded {
		width: 708px;
		height: 398px;
	}

    .embedded-vimeo,
	.youtube-embedded {
    	margin-top: 51.5px;
    }

    .how .embedded-vimeo {
    	margin-top: 0;
    	height: 348px;
    	width: 617px;
    }

}

@media only screen and (min-width: 500px) and (max-width: 767px) {
	#banner-fade,
	.embedded-vimeo,
	.youtube-embedded {
		width: 450px;
		height: 253px;
	}

    .embedded-vimeo,
	.youtube-embedded {
    	margin-top: 32.5px;
    }

    .how .embedded-vimeo {
    	margin-top: 0;
    	height: 221px;
    	width: 392px;
    }

}

@media only screen and (max-width: 499px) {
	#banner-fade,
	.embedded-vimeo,
	.youtube-embedded {
		width: 300px;
		height: 169px;
	}

    .embedded-vimeo,
	.youtube-embedded {
    	margin-top: 21.5px;
    }

    .how .embedded-vimeo {
    	margin-top: 0;
    	height: 147.5px;
    	width: 262px;
    }

}

@media only screen and (min-width: 1200px) {
    #banner-fade,
    .embedded-vimeo,
    .youtube-embedded {
        width: 770px;
        height: 434px;
		display: inline-block;
    }

    .how #banner-fade {
    	height: 551px;
	    width: 1120px;
    }

    .embedded-vimeo,
	.youtube-embedded {
    	margin-top: 55.5px;
    }

    .how .embedded-vimeo {
    	margin-top: 0;
    	height: 551px;
    	width: 977.5px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	#banner-fade,
	.embedded-vimeo,
	.youtube-embedded {
        width: 630px;
        height: 355px;
		display: inline-block;
    }

    .embedded-vimeo,
	.youtube-embedded {
    	margin-top: 45px;
    }

    .how #banner-fade {
    	height: 472px;
	    width: 960px;
    }

    .how .embedded-vimeo {
    	margin-top: 0;
    	height: 472px;
    	width: 837px;
    }
}

@media only screen and (min-width: 1600px) {
	#banner-fade,
	.embedded-vimeo,
	.youtube-embedded {
		height: 612px;
    	width: 865px;
	}

    .embedded-vimeo,
	.youtube-embedded {
    	margin-top: 0px;
    }

}
