@media only screen and (max-width : 1023px) {

	nav {
		border-bottom: 0;
  		height: auto;
		position: absolute;
		left: 0;
		right: 0;
	}
	nav ul {
      	box-shadow: inset 0 5px 5px -5px rgba(38,34,34,0.25);
  		width: 100%;
		display: none;
		height: auto;
		background: #fff;
		left: 0;
		right: 0;
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}

	#header-wrapper nav a {
		margin: 0;
		width: 708px;
		border-bottom: #e6e6e6 solid 1px;
	}

  	nav li {
  		width: 708px;
  		float: none;
  		display: block;
  		position: relative;
  	}

  	nav a {
	  	text-align: right;
	  	width: 100%;
	  	text-indent: 25px;
		display: inline-block;
		text-decoration: none;
		line-height: 40px;
  	}

  	nav ul a {
  		text-align: right;
  	}

	#header-wrapper nav a#pull {
		display: block;
		position: relative;
		font-size: 40px;
		width: 718px;
		margin: 0 auto;
		padding-top: 6px;
		color: #000;
		background-color: #fff;
		border-bottom: 0;
	}

	#header-wrapper nav a#pull:after {
		content:"";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}

	#header-wrapper #logout-link,
	#header-wrapper .username-link {
		margin-left: -18px;
	}

	#header-wrapper nav ul #username-logout.mobile {
		display: inline-block;
		font-size: 14px;
		width: 708px;
	}

	#header-wrapper nav a {
		padding-top: 7px;
	}

	#header-wrapper nav #username-logout a {
		padding-top: 0;
	}

	#header-wrapper nav ul #username-logout.mobile p,
	#header-wrapper nav ul #username-logout.mobile span {
		height: 10px;
	}

	#header-wrapper #login-info,
	#header-wrapper #username-logout {
		margin-top: 0;
		padding-top: 6px;
		padding-bottom: 9px;
	}

	#header-wrapper #login-link {
		margin-top: 0;
		padding-top: 2px;
		padding-bottom: 9px;
	}

	#header-wrapper .logged-in-thumb {
		margin-top: 9px;
	}

	#header-wrapper nav ul #username-logout.mobile a {
		color: #000;
		width: auto;
		border-bottom: 0;
	}

	#header-wrapper nav ul #username-logout.mobile a:hover {
		color: cyan;
	}

}

@media only screen and (min-width: 500px) and (max-width: 767px) {
	#header-wrapper nav a#pull {
		width: 460px;
	}

	#header-wrapper nav ul #username-logout.mobile {
		width: 450px;
	}

	#header-wrapper nav a {
		width: 450px;
	}

  	nav li {
  		width: 450px;
  	}

}
@media only screen and (max-width: 499px) {
	#header-wrapper nav a#pull {
		width: 310px;
	}

	#header-wrapper nav ul #username-logout.mobile {
		width: 300px;
	}

	#header-wrapper nav a {
		width: 300px;
	}

  	nav li {
  		width: 300px;
  	}
}

/*Smartphone
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}*/