/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-toggle {
      margin-left: 469px;
  }
  #header-wrapper nav {
      margin-left: -715px;
      width: 100%;
      background: #fff;
      margin-top: 159px;
      max-height: 178px;
  }

  .nav-collapse ul {
      width: 97%;
      margin: 20px auto;
  }

  .nav-collapse ul li {
    border-bottom: 1px #dfdfdf solid;
    margin: 10px 0;
  }

  .nav-collapse ul li a {
    margin: 0;
  }

}
@media only screen and (min-width: 500px) and (max-width: 767px) {

}
@media only screen and (max-width: 499px) {

}

@media screen and (min-width: 1024px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
