/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 1023px) {
  #header-wrapper nav {
      width: 100%;
      background: #fff;
      margin-top: 290px;
      box-shadow: inset 0 5px 5px -5px rgba(38,34,34,0.25);
  }

  .nav-collapse ul li {
    border-bottom: 1px #a6a6a6 solid;
    padding: 12px 0 7px 14px;
  }

  .nav-collapse ul li:hover {
    /*background-color: #f0f0f0;*/
    transition: background 0.3s ease 0s, color 0.3s ease 0s;
  }
}

.nav-toggle {
    position: absolute;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-toggle {
      margin-left: 471px;
  }

  #header-wrapper nav {
      margin-left: -210px;
  }

}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .nav-toggle {
      margin-left: 213px;
  }

  #header-wrapper nav {
      margin-left: -210px;
  }

}
@media only screen and (max-width: 499px) {
  .nav-toggle {
      margin-left: 63px;
  }

  #header-wrapper nav {
      margin-left: -210px;
  }
}

@media screen and (min-width: 1024px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
