@media screen and (min-width: 1600px) {
	.we #grid[data-columns]::before {
		content: '3 .column.size-1600';
	}
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
	.we #grid[data-columns]::before {
		content: '2 .column.size-1599-1200';
	}
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.we #grid[data-columns]::before {
		content: '2 .column.size-1199-1024';
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.we #grid[data-columns]::before {
		content: '2 .column.size-1023-768';
	}
}

@media screen and (max-width: 767px){
	.we #grid[data-columns]::before {
		content: '1 .column.size-767';
	}

	.column {
		margin-left: 0;
	}
}

.column { 
	float: left; 
	margin-left: 30px;
}

.question {
	border: 1px #a6a6a6 solid; 
	margin-bottom: 30px;
	padding: 2px 20px 15px 20px;
}

.column:first-child {
	margin-left: 0;
}

.we .size-1600 {
	width: 486px;
}

.we .size-1599-1200 {
	width: 545px;
}

.we .size-1199-1024 {
	width: 465px;
}

.we .size-1023-768 {
	width: 339px;
}

.we .size-767 {
	width: 100%;
}