/* Fonts */
@font-face 
  font-family: 'dinlight'
  src: url('../fonts/DINWeb-Light.eot')
  src: url('../fonts/DINWeb-Light.woff') format('woff')

@font-face 
  font-family: 'dinmed'
  src: url('../fonts/DINWeb-Medium.eot')
  src: url('../fonts/DINWeb-Medium.woff') format('woff')


/* Colors */

$hubblack: #262222

$hubpurple: #8560a8

$hubblue: #0054a6


/* Mixin Styles */

=hubfont
  text-transform: uppercase
  font-family: dinlight
  
=hublink
  text-transform: uppercase
  font-family: dinmed  
 
=hubhover
  color: #555 
  text-decoration: none
  
=hubhoverlt
  color: #ddd
  text-decoration: none
  
=killradius 
  border: none
  border-radius: 0

=hubpanel1
  background-color: $hubblack
  color: #ffffff
  @include killradius
  
=hubpanel2
  background-color: #ffffff
  color: $hubblack
  @include killradius
    

/* Base Styles */

html, body 
  margin: 0
  
p, span, h1, h2, h3, h4, h5, h6, label, dd
  @include hubfont  
  letter-spacing: .045em

a
  color: $hubblack

dt, strong 
  @include hublink  
  
/* Modals */
.modal-dialog
  @media screen and (min-width: 768px)
    width: 400px

.modal-content
  border-radius: 0px
  color: $hubblack
  .modal-title
    @include hublink
  
/* Buttons */
.btn
  border-radius: 0px
  @include hubfont
  
.btn-primary
  background-color: $hubblack
  border: none
  color: #fff  
  &:hover
    background-color: #000
    
/* Input and Submit */
input, textarea, keygen, select, button
  border: none
  background-color: $hubblack
  color: #fff
  @include hubfont

.userena 
  p
    margin: 0 0 40px 0
  .control-group
    clear: both
    margin: 0 0 20px 0
    .control-label
      width: 50%
      float: left
      display: inline
      padding: 0 15px 0 0
    .controls
      input
        width: 50%

/* Home Nav */

.hubauth
  margin-top: 5em
  li
    float: left
    margin: 0 0 0 1em
    ul
      @include killradius
      padding: 10px
      left: -22%
      &.dropdown-menu
        box-shadow: none
      li
        float: left
  button
    display: inline
    @include killradius
    &:hover
      background-color: #fff
  a
    color: $hubblack
    text-transform: uppercase
    &:hover
      @include hubhover
  .mugshot
    border-radius: 50%
    width: 75px
    height: 75px
    margin: -2em 2em
    
.nav
  @include hublink
  font-size: 1em
  .hubnav
    a
    background-color: #fff
    &:hover
      @include hubhover
  .caret
    border-top-color: $hubblack
    border-bottom-color: $hubblack   

.open .dropdown-toggle.btn-default
  background-color: #fff
    
.nav>li>a
  padding: 0px
  display: inline
  &:hover, &:focus
    background-color: #fff
    

.staticnav .nav-justified
  margin-top: 5em
  margin-left: -11%

.nav-justified>li 
  display: inline
  margin-right: 20px


button.hubnav
  background-color: #fff  
  padding: 0 
  font-size: 1.25em
  font-weight: normal
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: none
  &:active
    -webkit-box-shadow: none
    box-shadow: none
   
  
/* Home Panels */

.panel, .panel-group .panel
  @include killradius
     
.panel-heading
  min-height: 85px
  @include hubfont
  div, span
    display: inline
    float: left
    margin-top: 20px
  .panel-title
    font-size: 1.5em
    margin-left: 5%
    width: 25%
  span.glyphicon
    margin: 20px 0 0 200px
  .nav.carat 
    border-top-color: $hubblack
    border-bottom-color: $hubblack
  .desc
    font-size: 1.15em
    width: 25%
    letter-spacing: .045em


.panelbreak.white
  width: 100%
  border-bottom: solid 1px #fff
  margin: 10px 0
  padding: 0 
  clear: both
   
.panelbreak.black
  width: 100%
  border-bottom: solid 1px $hubblack
  margin: 10px 0
  padding: 0
    
.panel-default>.panel-heading+.panel-collapse .panel-body 
  border: 0

#hub1, #hub3, #collapseOne, #collapseThree
  @include hubpanel1
  .desc:hover
    @include hubhoverlt

#hub2, #hub4, #collapseTwo, #collapseFour
  @include hubpanel2
  .desc:hover
    @include hubhover
 
#hub1
  .desc
    margin-top: 11px 
  
.panel-body
  h2
    font-size: 1.5em


/* Conversations */  

.addvoice
  float: left
  clear: both
  padding: 30px 0
  img
    &:hover
      opacity: .8
  p
    float: left
    margin: 20px 30px 0 0
  ul
    float: left
    li
      margin: 0 40px 0 0
 
.hubconvo
  margin: 30px 0
  .row
    margin-right: 0
    margin-left: 0
  .col-sm-5.col-md-5
    &.left
      padding-right: 1px
      padding-left: 0
    &.right
      padding-right: 0
      padding-left: 1px
  .col-sm-1.col-md-1
    padding-left: 0
    padding-right: 0

.convoblock
  color: $hubblack
  background-color: #fff
  padding: 20px
  height: 300px
  margin: 1px 0 0 0
  @include hubfont 
  @include killradius
  div, p
    text-align: center
  .convoheader
    clear: both
    text-align: center
    .user_name a
      @include hublink
  .convocontent
    clear: both
 
/* Video */
.video 
  text-align: center


/* Slideshow */
.flexslider
  margin: 0 auto
  max-width: 1000px
  
.slides
  .caption
    @include hubfont
    font-size: 18px
    padding-top: 20px

/* Masonry For NOW */
#nowtiles 
  padding: 30px

.nowtile 
  @include hubfont
  letter-spacing: .045em
  width: 400px
  padding: 10px
  margin: 10px 0
  .nowtileheader
    @include hublink
    margin: 0 0 10px 0
  .nowtilefooter
    @include hublink
  img
    max-width: 380px
    margin: 0 0 10px 0
  p
    font-size: 20px
  
/* Footer */
#footer
  background-color: $hubblack
  color: #fff
  a
    color: #f5f5f5
    margin-left: 25px
    &:hover
      @include hubhoverlt
  span
    @include hubfont
    color: #f5f5f5
    margin-left: 25px    


/* All user areas */



.container
  