/* Colors */
/* Mixin Styles */
/* Base Styles */
html, body {
  margin: 0; }

/* Home Nav */
.hubauth {
  margin-top: 60px; }
  .hubauth button {
    display: inline;
    border: none;
    border-radius: 0; }
  .hubauth a {
    color: #262222;
    text-transform: uppercase; }
  .hubauth ul {
    border: none;
    border-radius: 0;
    padding: 10px; }

.nav .open > a {
  background-color: transparent; }
.nav li > a {
  padding: 0px;
  display: inline; }
.nav:hover, .nav:focus {
  background-color: transparent; }

.staticnav .nav-justified {
  margin-top: 60px; }

.nav-justified > li {
  display: inline;
  margin-right: 20px; }

.hubnav button.hubnav {
  background-color: transparent;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none; }

/* Home Panels */
.panel, .panel-group .panel {
  border: none;
  border-radius: 0; }

.panel-heading {
  min-height: 85px;
  text-transform: uppercase;
  font-weight: 200; }
  .panel-heading div {
    display: inline;
    float: left; }

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border: 0; }

#hub1, #hub3, #collapseOne, #collapseThree {
  background-color: #262222;
  color: white;
  border: none;
  border-radius: 0; }

#hub2, #hub4, #collapseTwo, #collapseFour {
  background-color: white;
  color: #262222;
  border: none;
  border-radius: 0; }

.thumbnail {
  border: none;
  border-radius: 0; }
