/* Colors */

$hubblack: #262222

$hubpurple: #8560a8

$hubblue: #0054a6

/* Mixin Styles */

=hubfont
  text-transform: uppercase
  font-weight: 200
  line-height: 20px
  font-size: .93333em
  letter-spacing: .0666em
  


=killradius 
  border: none
  border-radius: 0

=hubpanel1
  background-color: $hubblack
  color: #ffffff
  @include killradius
  
=hubpanel2
  background-color: #ffffff
  color: $hubblack
  @include killradius
    

/* Base Styles */

html, body 
  margin: 0
  
p 
  @include hubfont  
  padding: 10px 0 
  
  
/* Home Nav */

.hubauth
  margin-top: 60px
  button
    display: inline
    @include killradius
    &:hover
      background-color: #fff
  a
    color: $hubblack
    text-transform: uppercase
  ul
    @include killradius
    padding: 10px
    
.nav
  .open>a
    background-color: #fff
  .caret
    border-top-color: $hubblack
    border-bottom-color: $hubblack   

.open .dropdown-toggle.btn-default
  background-color: #fff
    
.nav>li>a
  padding: 0px
  display: inline
  &:hover, &:focus
    background-color: #fff
    

.staticnav .nav-justified
  margin-top: 60px

.nav-justified>li 
  display: inline
  margin-right: 20px


button.hubnav
  background-color: #fff  
  padding: 0 
  font-size: 14px
  font-weight: normal
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: none
  &:active
    -webkit-box-shadow: none
    box-shadow: none
   
  
/* Home Panels */

.panel, .panel-group .panel
  @include killradius
     
.panel-heading
  min-height: 85px
  @include hubfont
  div, span
    display: inline
    float: left
    margin-top: 20px
  .panel-title
    margin-left: 5%
    width: 25%
  .nav.carat 
    border-top-color: $hubblack
    border-bottom-color: $hubblack

.panelbreak.white
  width: 100%
  border-bottom: solid 1px #fff
  margin: 10px 0
  padding: 0 
   
.panelbreak.black
  width: 100%
  border-bottom: solid 1px $hubblack
  margin: 10px 0
  padding: 0
    
.panel-default>.panel-heading+.panel-collapse .panel-body 
  border: 0

#hub1, #hub3, #collapseOne, #collapseThree
  @include hubpanel1
  
#hub2, #hub4, #collapseTwo, #collapseFour
  @include hubpanel2


/* Conversations */  

.hubconvo
  margin: 30px 0
  .row
    margin-right: 0
    margin-left: 0
  .col-sm-5.col-md-5
    padding-right: 1px
    padding-left: 0
  .col-sm-1.col-md-1
    padding-left: 0
    padding-right: 0

.convoblock
  color: $hubblack
  background-color: #fff
  padding: 20px
  @include hubfont 
  @include killradius
  div, p
    text-align: center
 
  
.videofiller 
  width: 100%
  min-height: 200px
  background-color: $hubblue
  
/* Masonry */
#worktiles 
  padding: 30px

.tile 
  width: 350px
  padding: 10px
  margin: 10px 0
  
/* Footer */
#footer
  background-color: $hubblack
  color: #fff
  img, span
    margin: 0 0 0 15px