<div class="work">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper" class="black-bg"> 
		<div class="content-wrapper content-container">
			<div id="work-nav">
				<a href="../artsho5"><i class="mdi mdi-arrow-left"></i> Previous</a>
				<a href=".."><i class="mdi mdi-border-all"></i> View All</a>
				<a href="../sorry">Next <i class="mdi mdi-arrow-right"></i></a>
			</div>

	      <!--  Outer wrapper for presentation only, this can be anything you like -->
	      <div id="banner-fade">

	        <!-- start Basic Jquery Slider -->
	        <ul class="bjqs">
	          <li><img src="{{STATIC_URL}}img/maddie/1866-photography_graphic-assets.jpg"></li>
	          <li><img src="{{STATIC_URL}}img/maddie/1866-brand-dimensions.jpg"></li>
	          <li><img src="{{STATIC_URL}}img/maddie/1866-graphic-toolkit.jpg"></li>
	          <li><img src="{{STATIC_URL}}img/maddie/1866-photography.jpg"></li>
	        </ul>
	        <!-- end Basic jQuery Slider -->

	      </div>
	      <!-- End outer wrapper -->

	      <script class="secret-source">
	        jQuery(document).ready(function($) {

	          $('#banner-fade').bjqs({
	            height      : 487,
	            width       : 865,
	            responsive  : true
	          });

	        });
	      </script>

      	<div class="project-writeup">
			<h2>Maddie Peterson</h2>
			<h2 class="project-medium">Identity</h2>
			<p class="project-date">October 2014</p>
			<p>Tamara Connolly / Onika Simon</p>
			<p>Concept development and creation of a feminist identity strategy for 17 year old surfer and philanthropist Maddie Peterson. Crafting a visual language emphasizing athleticism and social media messaging hierarchy around holistic interests, broke with conventions of the surfing category and broader portrayal of American female athletes overall.</p>
		</div>

		</div>
	</div>
{% endblock %}

</div>