<div class="work black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<div id="work-nav">
				<a href="../irrelationship"><i class="mdi mdi-arrow-left"></i> Previous</a>
				<a href=".."><i class="mdi mdi-border-all"></i> View All</a>
				<a href="../fightclub">Next <i class="mdi mdi-arrow-right"></i></a>
			</div>

			<div class='swipe-container'>
			    <div class='image-swipe-controls' style='text-align:center;'>
			      <a href="#" class='left-img-control' onclick='mySwipe.prev()'><i class="mdi mdi-arrow-left"></i></a> 
			      <a href="#" class='right-img-control' onclick='mySwipe.next()'><i class="mdi mdi-arrow-right"></i></a>
			    </div>
			    <div id='mySwipe' style='max-width:865px;width:100%;margin:0 auto' class='swipe'>
			      <div class='swipe-wrap'>
			        <div class="slide"><img src="{{STATIC_URL}}img/sperry/01_SPERRY_IMG_7708.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/sperry/02_SPERRY_IMG_2200.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/sperry/03_SPERRY_IMG_8001.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/sperry/04_SPERRY_IMG_8048.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/sperry/05_SPERRY_IMG_2286.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/sperry/06_SPERRY_IMG_2293.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/sperry/07_SPERRY_IMG_0506.jpg"></div>
			        <div class="slide"><iframe class="youtube-embedded" src="https://www.youtube.com/embed/R_Annn9eXzQ" frameborder="0" allowfullscreen></iframe></div>
			      </div>
			    </div>
			</div>

      	<div class="project-writeup">
			<h2>Sperry Odyssey</h2>
			<h2 class="project-medium">Cultural Insight</h2>
			<p class="project-date">May 2015</p>
			<p><a href="http://spokehub.org/accounts/kwamec" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/kwamec'>
							<div class='cover-photo' id='kwame-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/a0f386c9ca.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>kwamec</b></h2>
							</div>
						</a>
						<ul>
							<li>GRAPHIC DESIGNER</li>
							<li>Berlin, Germany</li>
							<li><a href='http://www.instagram.com/kwamecharles/'target='blank'>instagram.com/kwamecharles/</a></li>
							<li><a href='mailto:kwame@spokehub.org'>kwame@spokehub.org</a></li>
						</ul>
					</div>">Kwame Charles</a> 
				/ <a href="http://spokehub.org/accounts/coultc" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/coultc'>
							<div class='cover-photo' id='coult-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/5de5d0e53a.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>coultc</b></h2>
							</div>
						</a>
						<ul>
							<li>Spokehub Studio Manager</li>
							<li>Berlin, Germany</li>
							<li><a href='http://kn-context.com/'target='blank'>KN - Raum für Kunst im Kontext</a></li>
							<li><a href='mailto:carleen@spokehub.org'>carleen@spokehub.org</a></li>
						</ul>
					</div>">Carleen Coulter</a> 
				/ <a href="http://spokehub.org/accounts/onikasi" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/onikasi'>
							<div class='cover-photo' id='onika-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/b3ae9b4f09.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>onikasi</b></h2>
							</div>
						</a>
						<ul>
							<li>Innovation Strategist</li>
							<li>BERLIN, Germany</li>
							<li><a href='http://spokehub.tumblr.com/'target='blank'>Spoke The Hubbub</a></li>
							<li><a href='mailto:onika@spokehub.org'>onika@spokehub.org</a></li>
						</ul>
					</div>">Onika Simon</a></p>
			<p class="project-desc">A week-long intrepid adventure around Cuba, to explore the meaning and importance of water in a Communist Caribbean time capsule.</p>
		</div>

		</div>
	</div>
{% endblock %}

</div>