{% extends 'base.html' %}

{% block content %}
{% if request.user.is_superuser %}
	  <div id="site-wrapper"> 
		    <div class="content-wrapper content-container">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="." method="post" class="form-horizontal">
<fieldset><legend>Invite Someone</legend>
	<div class="row">
	<div class="form-group">
		<label for="email" class="col-md-2 control-label">Email Address</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="email" id="email"
						 placeholder="someone@somewhere.com" />
		</div>
		<div class="col-md-2">
			<input type="submit" class="btn btn-primary" value="invite" />
		</div>
		</div>
</fieldset>
</form>
<p></p>
<p></p>
<p></p>
<p><a href="{% url 'invite-list' %}">View Pending Invites</a></p>

  </div>
        </div>
{% else %}
<p>Sorry, superuser only</p>
{% endif %}
{% endblock %}
