<div class="profile black-bg">
    {% extends 'base.html' %}

    {% block content %}
        <div id="site-wrapper">
            <div class="content-wrapper content-container">
                <div class="page-heading">
                    <h2><b>Welcome, {{email}}!</b></h2>
                </div>
                <p>Please create your Spokehub profile. All fields are required.</p>
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <input type="hidden" name="email" value="{{email}}" />
                    <ul class="profile-form">
                        {{form.username.errors}}
                        <li>{{form.username}}<sub>Your username is permanent and cannot be changed.</sub></li>
                        {{form.password1.errors}}
                        <li>{{form.password1}}</li>
                        {{form.password2.errors}}
                        <li>{{form.password2}}</li>
                        {{form.firstname.errors}}
                        <li>{{form.firstname}}</li>
                        {{form.lastname.errors}}
                        <li>{{form.lastname}}</li>
                        {{form.location.errors}}
                        <li>{{form.location}}</li>
                        {{form.profession.errors}}
                        <li>{{form.profession}}</li>
                    </ul>
                    <ul class="profile-form column2">
                        {{form.website_url.errors}}
                        <li>{{form.website_url}}</li>
                        {{form.website_name.errors}}
                        <li>{{form.website_name}}</li>

                        {{form.profileimage.errors}}
                        <label for="profile-image-upload"><span></span><strong>Your head shot</strong></label>
                        {{form.profileimage}}

                        {{form.cover.errors}}
                        <label for="cover-image-upload"><span></span><strong>Your background picture</strong></label>
                        {{form.coverimage}}

				        <li><input type="submit" value="SUBMIT" class="submit"></li>
                    </ul>
                </form>
            </div>
        </div>
    {% endblock %}

</div>
