<div class="profile black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<div class="page-heading">
				<h2><b>Welcome, {{email}}!</b></h2>
			</div>
			<p>Please create your Spokehub profile. All fields are required.</p>
      <form action="." method="post">
          {% csrf_token %}
          <input type="hidden" name="email" value="{{email}}" />
			    <ul class="profile-form">
				      <li><input name="username" type="text" placeholder="Username"></li>
				      <li><input name="password1" type="password" placeholder="Password"></li>
				      <li><input name="firstname" type="text" placeholder="First Name"></li>              
				      <li><input name="location" type="text" placeholder="City & country"></li>
				      <li><input name="profession" type="text" placeholder="Profession"></li>
			    </ul>
			    <ul class="profile-form column2">
				      <li><input name="website" type="text" placeholder="Website"></li>
				      <li><input name="password2" type="password" placeholder="Repeat Password"></li>
				      <li><input name="lastname" type="text" placeholder="Last Name"></li>              
				      <li><input type="submit" value="SUBMIT" class="submit"></li>
			    </ul>
      </form>
		</div>
	</div>
{% endblock %}

</div>
