<div class="work black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<div id="work-nav">
				<a href="../supper"><i class="mdi mdi-arrow-left"></i> Previous</a>
				<a href=".."><i class="mdi mdi-border-all"></i> View All</a>
				<a href="../bca">Next <i class="mdi mdi-arrow-right"></i></a>
			</div>

		<div class='swipe-container'>
		    <div class='image-swipe-controls' style='text-align:center;'>
		      <a href="#" class='left-img-control' onclick='mySwipe.prev()'><i class="mdi mdi-arrow-left"></i></a> 
		      <a href="#" class='right-img-control' onclick='mySwipe.next()'><i class="mdi mdi-arrow-right"></i></a>
		    </div>
		    <div id='mySwipe' style='max-width:865px;width:100%;margin:0 auto' class='swipe'>
		      <div class='swipe-wrap'>
		        <div class="slide"><img src="{{STATIC_URL}}img/artsho5/01_ARTSHO5_EXPERIMENT.jpg"></div>
		        <div class="slide"><img src="{{STATIC_URL}}img/artsho5/02_ARTSHO5_EXPERIMENT.jpg"></div>
		        <div class="slide"><img src="{{STATIC_URL}}img/artsho5/03_ARTSHO5_EXPERIMENT.jpg"></div>
		        <div class="slide"><img src="{{STATIC_URL}}img/artsho5/04_ARTSHO5_EXPERIMENT.jpg"></div>
		        <div class="slide"><img src="{{STATIC_URL}}img/artsho5/05_ARTSHO5_EXPERIMENT.jpg"></div>
		        <div class="slide"><img src="{{STATIC_URL}}img/artsho5/06_ARTSHO5_EXPERIMENT.jpg"></div>
		        <div class="slide"><img src="{{STATIC_URL}}img/artsho5/07_ARTSHO5_EXPERIMENT.jpg"></div>
		        <div class="slide"><img src="{{STATIC_URL}}img/artsho5/08_ARTSHO5_EXPERIMENT.jpg"></div>
		        <div class="slide"><iframe class="youtube-embedded" src="https://www.youtube.com/embed/079dc339J2o" frameborder="0" allowfullscreen></iframe></div>
		      </div>
		    </div>
		</div>

      	<div class="project-writeup">
			<h2>ARTSHO5</h2>
			<h2 class="project-medium">Event Design</h2>
			<p class="project-date">November 2014</p>
			<p>Gaspar Bonta / Tim Boyce 
				/ <a href="http://spokehub.org/accounts/kwamec" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/kwamec'>
							<div class='cover-photo' id='kwame-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/a0f386c9ca.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>kwamec</b> (Kwame Charles)</h2>
							</div>
						</a>
						<dd>GRAPHIC DESIGNER</dd>
						<dd>Berlin, Germany</dd>
						<dd><a href='http://www.instagram.com/kwamecharles/'target='blank'>instagram.com/kwamecharles/</a></dd>
						<dd><a href='mailto:kwame@spokehub.org'>kwame@spokehub.org</a></dd>
					</div>">Kwame Charles</a> 
				/ <a href= "http://spokehub.org/accounts/Winst" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/winst'>
							<div class='cover-photo' id='winst-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/thumbs/a062873515.jpg.200x200_q85.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>winst</b> (Winston Chmielinski)</h2>
							</div>
						</a>
						<dd>Artist</dd>
						<dd>Berlin Germany</dd>
						<dd><a href='http://www.wi-ch.com/'target='blank'>Winston Chmielinski</a></dd>
						<dd><a href='mailto:winst@wi-ch.com'>winst@wi-ch.com</a></dd>
					</div>">Winston Chmielinski</a> 
				/ <a href= "http://spokehub.org/accounts/coultc" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/coultc'>
							<div class='cover-photo' id='coult-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/5de5d0e53a.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>coultc</b> (Carleen Coulter)</h2>
							</div>
						</a>
						<dd>Spokehub Studio Manager</dd>
						<dd>Berlin, Germany</dd>
						<dd><a href='http://kn-context.com/'target='blank'>KN - Raum für Kunst im Kontext</a></dd>
						<dd><a href='mailto:carleen@spokehub.org'>carleen@spokehub.org</a></dd>
					</div>">Carleen Coulter</a> 
				/ Dolly Demoratti / Catherine Greig / Tom Horak / Valencia James / Seyhan Musaoglu 
				/ <a href= "http://spokehub.org/accounts/anders" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/anders'>
							<div class='cover-photo' id='anders-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/bc9afb5467.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>anders</b> (Anders Pearson)</h2>
							</div>
						</a>
						<dd>Cat Slave</dd>
						<dd>London, U(c)K</dd>
						<dd><a href='https://thraxil.org/'target='blank'>thraxil.org</a></dd>
						<dd><a href='mailto:anders@columbia.edu'>anders@columbia.edu</a></dd>
					</div>">Anders Pearson</a> 
				/ James Pendergrast 
				/ <a href= "http://spokehub.org/accounts/valerie" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/valerie'>
							<div class='cover-photo' id='valerie-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/thumbs/eb331f4fce.jpg.200x200_q85.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>valerie</b> (Valerie Schmidt)</h2>
							</div>
						</a>
						<dd>photographer</dd>
						<dd>Berlin, Germany</dd>
						<dd><a href='http://editorial.valerieschmidt.de/'target='blank'>editorial works</a></dd>
						<dd><a href='mailto:mail@valerieschmidt.de'>mail@valerieschmidt.de</a></dd>
					</div>">Valerie Schmidt</a> 
				/ <a href= "http://spokehub.org/accounts/onikasi" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/onikasi'>
							<div class='cover-photo' id='onika-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/b3ae9b4f09.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>onikasi</b> (Onika Simon)</h2>
							</div>
						</a>
						<dd>Innovation Strategist</dd>
						<dd>BERLIN, Germany</dd>
						<dd><a href='http://spokehub.tumblr.com/'target='blank'>Spoke The Hubbub</a></dd>
						<dd><a href='mailto:onika@spokehub.org'>onika@spokehub.org</a></dd>
					</div>">Onika Simon</a> 
				/ <a href= "http://spokehub.org/accounts/an" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/an'>
							<div class='cover-photo' id='an-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/thumbs/3b94493ad3.jpg.200x200_q85.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>an</b> (An Paenhuysen)</h2>
							</div>
						</a>
						<dd>art critic, curator, art educator</dd>
						<dd>Berlin, Germany</dd>
						<dd><a href='http://www.anpaenhuysen.com%2C%20anpaenhuysen.blogspot.com/'target='blank'>An Paenhuysen</a></dd>
						<dd><a href='mailto:paenhuysenan@gmail.com'>paenhuysenan@gmail.com</a></dd>
					</div>">An Paenhuysen</a> 
				/ <a href= "http://spokehub.org/accounts/kidethnic" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/kidethnic'>
							<div class='cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/thumbs/8304521653.jpg.200x200_q85.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>kidethnic</b> (Saleem Reshamwala)</h2>
							</div>
						</a>
						<dd>Filmmaker/Storyteller</dd>
						<dd>Durham, NC USA</dd>
						<dd><a href='http://kidethnic.com/'target='blank'>KidEthnic</a></dd>
						<dd><a href='mailto:saleem@kidethnic.com'>saleem@kidethnic.com</a></dd>
					</div>"> Saleem Reshamwala</a> / Richard Watkins</p>
			<p class="project-desc">The 5th annual ARTSHO exhibition on the subject of experimentation, a process both artists and scientists share. The team included 8 international artists and an architect, who worked together to convert a derelict space into a makeshift art lab, in under 3 days. The aim of the event itself was to produce 8 interactive artworks with the public in real time. Social media posts with the hashtag #ARTSHO5 were streamed into the lab 24/7 and a 9th project involved transatlantic collaboration between Istanbul, Turkey and Durham, USA.</p>
		</div>

		</div>
	</div>
{% endblock %}

</div>
