{% load bootstrap3 %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>spokehub: {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="spokehub">
  <meta name="author" content="spokehub">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="../assets/js/html5shiv.js"></script>
  <script src="../assets/js/respond.min.js"></script>
<![endif]-->

    <link href="{% bootstrap_css_url %}" rel="stylesheet">
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
        {% block css %}{% endblock %}
  <script src="{% bootstrap_jquery_url %}"></script>
  <script src="{% bootstrap_javascript_url %}"></script>
</head>
<body id="{% block pageid %}{% endblock %}">
<div class="container">
{% block content %}

{% endblock %}
</div>
{% block js %}{% endblock %}
</body>
</html>
