{% extends 'edit/base.html' %}
{% load bootstrap3 %}

{% block content %}
<ol class="breadcrumb">
  <li class="active">Edit Site</li>
</ol>

{% bootstrap_messages %}

    <h1>Edit Site</h1>

    <h2>Project Samples</h2>

<div class="list-group">
    <a class="list-group-item" href="{% url 'add-project' %}">
        <span class="glyphicon glyphicon-plus"></span> Add New One
    </a>

    {% for project in projects %}
        <a class="list-group-item" href="{% url 'edit-project' project.pk %}">
            {% if not project.published %}<span class="label label-info">Draft</span>{% endif %}
            {{project.title}}
        </a>
    {% endfor %}

</div>

    
{% endblock %}
