{% load markup %}
{% load thumbnail %}
<div class="how-wrapper" id="how">
  <div class="slider">
    <img src="{{STATIC_URL}}img/50_shades2-01_72_960x540.jpg">
    <img src="{{STATIC_URL}}img/AIADW_storytelling101_72_960x540.jpg">
    <img src="{{STATIC_URL}}img/Artshow_StreetArt_72_960x540.jpg">
    <img src="{{STATIC_URL}}img/Artshow_team_72_960x540.jpg">
    <img src="{{STATIC_URL}}img/Design Alchemy-01_72_960x540-01.jpg">
    <img src="{{STATIC_URL}}img/LV Ad_72_960x540.jpg">
  </div>
</div>
