{% extends 'base.html' %}
{% load thumbnail %}

{% block navbar %}
<div id="main-navbar" data-spy="affix" >
<nav id="main-nav" class="navbar navbar-default" role="navigation">
  <div class="container">
		<ul class="nav navbar-nav">
			<li><a href="#now">NOW</a></li>
			<li><a href="#intro">INTRO</a></li>
			<li><a href="#work">WORK</a></li>
			<li><a href="#lab">LAB</a></li>
		</ul>
  </div>
</nav>
</div>
{% endblock %}

{% block bodytag %}
<body data-spy="scroll" data-offset="100" data-target="#main-navbar"
class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
{% endblock %}

{% block content %}

<section id="now">
<h2>NOW</h2>

<p>Spokehub combines art, design and strategy to create original ideas, breakthrough solutions and extraordinary events.
We are {independent / disruptive / international / cross-functional /
	on the move  / unconventional / diverse  / 100+ creatives} but
	connected.</p>

<p>[[Insert Now Items]]</p>

</section>

<section id="intro">
<h2>INTRO</h2>

<p>[[Insert Video animation]]</p>

<ul>
<li>Spokehub is not a<strike>n agency</strike> set cast of characters.</li>
<li>We are a creative alliance between designers, artists, architects, engineers, developers, explorers and storytellers... with strategic thinking at our core.</li>
<li>Diversity across disciplines and cultures gives us a broad spectrum of perspectives.</li>
<li>Artistic interventions disrupt and advance our design thinking.</li>
<li>When we collaborate on projects, we guarantee bespoke and breakthrough solutions.</li>
<li>Our clients are individuals, start-ups and global brands, all seeking a creative life less ordinary.</li>
<li>We align here to exchange and inspire future-focused ideas.</li>
</ul>
</section>

<section id="work">
<h2>WORK</h2>

Drop-down menu
Headline copy:

Insights / We explore possibilities for new creative solutions, from four perspectives. [graphic of - Cultural/Category/Consumer/Future]
Strategy / Great strategy defines opportunities and inspires creatives in their own language. [examples for Identity - Design - Futures]
Creative / Great creative solutions are the alchemy of analytic information with aesthetic presentation [annotated slide show of principals' work examples]
Events / The first Spokehub art event is scheduled for September 2014. Join/Follow/Bookmark for timely announcements.

<div class="work-samples">
  <ul class="slides">
{% for ws in work_samples %}
    <li>
      <img src="{% thumbnail ws.image 900x600 %}" alt="{{ws.title}}"/>
			<p class="flex-caption">{{ws.caption}}</p>
    </li>
{% endfor %}
  </ul>
</div>

</section>


<section id="lab">
<h2>LAB</h2>


</section>

{% endblock %}

{% block js %}
<script src="/media/js/flexslide/jquery.flexslider-min.js"></script>
<link rel="stylesheet" href="/media/js/flexslide/flexslider.css"
			type="text/css">

<script>
$(window).load(function() {
  $('.work-samples').flexslider({
    animation: "slide"
  });
});
</script>
{% endblock %}
