{% extends 'base.html' %}
{% load thumbnail %}

{% block navbar %}
	<ul class="nav nav-justified">
      <li><button type="button" class="btn hubnav"
									data-toggle="collapse"
									data-target="#collapseOne"
									data-parent="#accordian">HOW</button></li>
      <li><button type="button" class="btn hubnav"
									data-toggle="collapse"
									data-target="#collapseTwo"
									data-parent="#accordian">WE</button></li>
      <li><button type="button" class="btn hubnav"
									data-toggle="collapse"
									data-target="#collapseThree"
									data-parent="#accordian">WORK</button></li>
      <li><button type="button" class="btn hubnav"
									data-toggle="collapse"
									data-target="#collapseFour"
									data-parent="#accordian">NOW</button></li>

		</ul>
{% endblock %}

{% block bodytag %}
{% if request.user.is_anonymous %}
<body class="" id="splash-page">
{% else %}
<body class="{% block bodyclass %}{% endblock %}" id="index-page{% block bodyid %}{% endblock %}">
{% endif %}
{% endblock %}

{% block content %}


<div class="panel-group" id="accordion">
  <div class="panel panel-default active-panel">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
    	<div id="hub1" class="panel-heading">
      	<div class="panel-title"> 
         How
        </div>
        <div class="desc">Cross-functional conversations between Art, Design, and Strategy</div>
        <span class="glyphicon glyphicon-play pull-right"></span>
        
	    </div>
     </a>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
				<div class="container">
       <div class="panelbreak white"></div>
       <h2>brainstorm: laughter by design</h2>
       <p>
       	Anim pariatur cliche reprehenderit, enim eiusmod high life
        accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa
        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
        beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth
        nesciunt you probably haven't heard of them accusamus labore
        sustainable VHS.
		</p>
		<div class="panelbreak white"></div>
		<div class="hubconvo">
				<div class="row">
					<div class="col-sm-1 col-md-1">
					<img data-src="holder.js/100%x200" alt="Generic placeholder thumbnail" width="100" height="100">
					</div>
					<div class="col-sm-5 col-md-5">
						<div class="convoblock">
								<div>Sarah_Ace  |  GRAPHIC DESIGN</div>
								<div>10 hours ago  |  Aukland, NEW ZEALAND</div>
								       <div class="panelbreak black"></div>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<div class="videofiller"></div>
						</div>
					</div>

					<div class="col-sm-5 col-md-5">
						<div class="convoblock">
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								
						</div>
					</div>
					<div class="col-sm-1 col-md-1">
					<img data-src="holder.js/100%x200" alt="Generic placeholder thumbnail" width="100" height="100">
					</div>
				</div>

				<div class="row">
				<div class="col-sm-1 col-md-1">
				<img data-src="holder.js/100%x200" alt="Generic placeholder thumbnail" width="100" height="100">
				</div>
					<div class="col-sm-5 col-md-5">
						<div class="convoblock">
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>

					<div class="col-sm-5 col-md-5">
						<div class="convoblock">
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								
						</div>
					</div>
					<div class="col-sm-1 col-md-1">
						<img data-src="holder.js/100%x200" alt="Generic placeholder thumbnail" width="100" height="100">
					</div>

				</div>
				</div>
				</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
  	 <div id="hub2" class="panel-heading">
      <div class="panel-title">
          We        
      </div>
      <div class="desc">A MANIFESTO OF (TROUBLE) MAKERS</div>
      <span class="glyphicon glyphicon-play pull-right"></span>
    </div>
      </a>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
				<div class="container">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high
					life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food
					truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
					tempor, sunt aliqua put a bird on it squid single-origin
					coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
					helvetica, craft beer labore wes anderson cred nesciunt
					sapiente ea proident. Ad vegan excepteur butcher vice
					lomo. Leggings occaecat craft beer farm-to-table, raw denim
					aesthetic synth nesciunt you probably haven't heard of them
					accusamus labore sustainable VHS.</p>
				</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">  	
    <div id="hub3" class="panel-heading">
      <div class="panel-title">
          Work        
      </div>
      <div class="desc">Shiny ideas + blood, sweat and tears</div>
      <span class="glyphicon glyphicon-play pull-right"></span>
    </div>
</a>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
				<div class="container">
				<p>
					Drop-down menu
					Headline copy:
				</p>

				<p>Insights / We explore possibilities for new creative solutions, from four perspectives. [graphic of - Cultural/Category/Consumer/Future]
					Strategy / Great strategy defines opportunities and inspires creatives in their own language. [examples for Identity - Design - Futures]
					Creative / Great creative solutions are the alchemy of analytic information with aesthetic presentation [annotated slide show of principals' work examples]
					Events / The first Spokehub art event is scheduled for
					September 2014. Join/Follow/Bookmark for timely
					announcements.
				</p>

				<div class="work-samples">
					<ul class="slides">
						{% for ws in work_samples %}
						<li>
							<img src="{% thumbnail ws.image 900x600 %}" alt="{{ws.title}}"/>
							<p class="flex-caption">{{ws.caption}}</p>
						</li>
						{% endfor %}
					</ul>
				</div>

				</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
  	    <div id="hub4" class="panel-heading">
      <div class="panel-title">
          Now
      </div>
      <div class="desc">Updates in Hub Mean Time (HMT)</div>
      <span class="glyphicon glyphicon-play pull-right"></span>
    </div>
      </a>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
				<div id="worktiles">

					<div class="tile">
						<div class="videofiller"></div>
					</div>
					<div class="tile">
						<h3>CLEVER QUOTABLE QUOTES CLEVER QUOTABLE QUOTES.</h3>

					</div>
					<div class="tile">
											<div class="videofiller"></div>

					</div>
					<div class="tile">
											ANIM PARIATUR CLICHE REPREHENDERIT, ENIM EIUSMOD HIGH LIFE ACCUSAMUS TERRY RICHARDSON AD SQUID. 3 WOLF MOON OFFICIA AUTE, NON CUPIDATAT SKATEBOARD DOLOR BRUNCH. FOOD TRUCK QUINOA NESCIUNT LABORUM EIUSMOD. BRUNCH 3 WOLF MOON TEMPOR, SUNT ALIQUA PUT A BIRD ON IT SQUID SINGLE-ORIGIN COFFEE NULLA ASSUMENDA SHOREDITCH ET. NIHIL ANIM KEFFIYEH HELVETICA, CRAFT BEER LABORE WES ANDERSON CRED NESCIUNT SAPIENTE EA PROIDENT. AD VEGAN EXCEPTEUR BUTCHER VICE LOMO. LEGGINGS OCCAECAT CRAFT BEER FARM-TO-TABLE, RAW DENIM AESTHETIC SYNTH NESCIUNT YOU PROBABLY HAVEN'T HEARD OF THEM ACCUSAMUS LABORE SUSTAINABLE VHS.

					</div>
					<div class="tile">
											<div class="videofiller"></div>

					</div>
					<div class="tile">
											<div class="videofiller"></div>

					</div>
					
				
     			 </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="/media/js/flexslide/jquery.flexslider-min.js"></script>
<script src="/media/js/masonry.pkgd.js"></script>

<link rel="stylesheet" href="/media/js/flexslide/flexslider.css" type="text/css">
<script>
	var $container = $('#worktiles');
	// initialize
	$('#worktiles').masonry({
  columnWidth: 20,
  itemSelector: '.tile'
});

</script>
<script>
$(window).load(function() {
  $('.work-samples').flexslider({
    animation: "slide"
  });
});
</script>
<script>
$(".panel").on('hidden.bs.collapse', function (e) {
   $(e.target).parent().removeClass('active-panel');
})
$(".panel").on('shown.bs.collapse', function (e) {
   $(e.target).parent().addClass('active-panel');
})
</script>


{% endblock %}
