{% for nowpost in now_posts %}
<div class="now-post {{nowpost.service}}">

	<p class="screen-name">{{nowpost.screen_name}}</p>

	{% if nowpost.image_url %}
	<img src="{{nowpost.image_url}}"/>
	{% endif %}

	{% if nowpost.video_url %}
	<div class="video-wrapper">
			<video loop><source type="video/mp4" src="{{nowpost.video_url}}"/></video>
	</div>
	{% endif %}
	<span>{{nowpost.created}}</span>
	<p class=text>
		{{nowpost.text}}
	</p>
	<a href="{{nowpost.external_link}}">{{nowpost.service}}</a>

</div>

{% endfor %}
