{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div id="site-wrapper"> 
    <div class="content-wrapper content-container edit-response edit-convo user-page">
        {% if request.user.is_superuser  or request.user == object.author %}
            <div class="page-heading">
                <ul class="archives-post">
                    <li><a href="{% url 'we' %}"><i class="mdi mdi-arrow-left"></i> Back to Forum</a></li>
                    <li><a href="{% url 'ask-question' %}"><i class="mdi mdi-comment-processing"></i> Ask a Question</a></li>
                </ul>
                <h2><b>Edit Response</b></h2>
            </div>

            <div class="form-container">
                <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                    <fieldset>
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{form.image.errors}}
                            {% if form.image.value %}
                                <label>Upload new image: </label>
                                <input type="file" name="image" id="id_image" />
                            {% else %}
                                <label>Upload image: </label>
                                {{form.image|bootstrap}}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{form.url.errors}}
                            <label>Or enter URL:</label>
                            {{form.url|bootstrap}}
                        </div>


                        <div class="form-group">
                            {{form.body.errors}}
                            {{form.body|bootstrap}}
                        </div>

						            <p id="textarea_feedback"></p>                        
                        <a class="btn btn-danger pull-right" href="{% url 'delete-reply' object.id %}"><i class="mdi mdi-delete"></i> Delete Response</a>
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </fieldset>
                </form>
            </div>

        {% else %}
            <p>Sorry, this is admin only for now.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
