{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        {% if request.user.is_superuser  or request.user == object.author %}

            <a class="btn btn-danger pull-right" href="{{object.get_delete_url}}">Delete</a>

            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                <fieldset><legend>Edit Reply</legend>
                    {{form|bootstrap}}
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </fieldset>
            </form>

        {% else %}
            <p>Sorry, this is admin only for now.</p>
        {% endif %}
    </div>
{% endblock %}
