{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<div id="site-wrapper"> 
    <div class="content-wrapper content-container edit-convo user-page">
        {% if request.user.is_superuser  or request.user == object.author %}
            <div class="page-heading"><h2><b>Edit Response</b></h2></div>

            <div class="form-container">
                <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                    <fieldset>
                        {{form|bootstrap}}
						            <p id="textarea_feedback"></p>                        
                        <a class="btn btn-danger pull-right" href="{% url 'delete-reply' object.id }">Delete Response</a>
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </fieldset>
                </form>
            </div>

        {% else %}
            <p>Sorry, this is admin only for now.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
