<div class="how black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">

		    <div class="page-heading">
		      <h2><b>HOW</b> and why we formed our hub</h2>
		    </div>

	      <!--  Outer wrapper for presentation only, this can be anything you like -->
	      <div id="banner-fade">
			<iframe class="embedded-vimeo" src="https://player.vimeo.com/video/158695842" id="how-video" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	      </div>
	      <!-- End outer wrapper -->

		  <!--<div id="how-video-container"><iframe src="https://player.vimeo.com/video/158695842" id="how-video" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>-->

	      <script class="secret-source">
	        jQuery(document).ready(function($) {

	          $('#banner-fade').bjqs({
	            height      : 551,
	            width       : 1120,
	            responsive  : true
	          });

	        });
	      </script>
			
		</div>
	</div>
{% endblock %}

</div>