<!--<div class="scroll"style="overflow-y:scroll;">-->

<div class="now">

    {% extends 'base.html' %}
    {% load flatblocks %}

{% block content %}

	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">

			  <div class="page-heading">
		        <h2>{% flatblock "now-subhead" %}</h2>            
			    </div>

				<div id="grid" class="clearfix" data-columns>

					{% for nowpost in now_posts %}
              {% include 'now/post.html' %}
	        {% endfor %}

				</div>

			</div>

	</div>


{% endblock %}

</div>

<!--</div>-->
