{% extends 'base.html' %}

{% block content %}

	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<h1>NOW</h1>

			{% for nowpost in now_posts %}

			<div class="now-post">

				<dl>
					<dt>screen name</dt>
					<dd>{{nowpost.screen_name}}</dd>

					<dt>created</dt>
					<dd>{{nowpost.created}}</dd>

					<dt>service</dt>
					<dd><a href="{{nowpost.external_link}}">{{nowpost.service}}</a></dd>

					<dt>text</dt>
					<dd>{{nowpost.text}}</dd>
				</dl>

					{% if nowpost.image_url %}
					<img src="{{nowpost.image_url}}" width="{{nowpost.image_width}}"
							 height="{{nowpost.image_height}}" />
					{% endif %}

					{% if nowpost.video_url %}
					<video controls width height="150"><source type="video/mp4" src="{{nowpost.video_url}}"/></video>
					{% endif %}

			</div>

			{% endfor %}

		</div>
	</div>

{% endblock %}
