<div class="work black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">

		    <div class="page-heading">
		      <h2><b>WORK</b> WE CAN SHOW ONLINE</h2>
		    </div>

			<div class="projects-section-container">

				<!--<a href="havana" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/havana-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Havana Series</h3>
							<p>Photography</p>
						</div>
					</div>
				</a>-->

				<a href="{% url 'work-endemol' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/endemol-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Endemol Beyond</h3>
							<p>Editorial Design</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-redbull' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/redbull-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Red Bull</h3>
							<p>Sub-brand Blueprint</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-irrelationship' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/irrelationship-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Irrelationship</h3>
							<p>Brand Identity</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-sperry' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/sperry-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Sperry Odyssey</h3>
							<p>Insights</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-fightclub' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/fightclub-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Fight Club Sandwich</h3>
							<p>Performance</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-cisco' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/cisco-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Cisco</h3>
							<p>Industry Transformation</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-cfg' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/cfg-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>City Football Group</h3>
							<p>User Insight</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-sorry' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/sorry-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>A/O Dialogue</h3>
							<p>Exhibition</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-maddie' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/maddie-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Maddie Peterson</h3>
							<p>Identity</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-supper' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/supper-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Supper Salon 1</h3>
							<p>Event</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-artsho5' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/artsho-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>ARTSHO5</h3>
							<p>Exhibition</p>
						</div>
					</div>
				</a>

				<a href="{% url 'work-bca' %}" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/bca-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Black Cultural Archives</h3>
							<p>Identity</p>
						</div>
					</div>
				</a>

				<div class="clearfix"></div>

			</div>

		</div>
	</div>
{% endblock %}

</div>
