<div class="work">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper" class="black-bg"> 
		<div class="content-wrapper content-container">

		    <div class="page-heading">
		      <h2><b>WORK</b> WE CAN SHOW ONLINE</h2>
		    </div>

			<div class="projects-section-container">

				<a href="havana" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/havana-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Havana Series</h3>
							<p>Photography</p>
						</div>
					</div>
				</a>

				<a href="fightclub" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/fightclub-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Fight Club Sandwich</h3>
							<p>Performance</p>
						</div>
					</div>
				</a>

				<a href="sperry" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/sperry-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Sperry Odyssey</h3>
						</div>
					</div>
				</a>

				<a href="supper" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/supper-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Supper Salon 1</h3>
						</div>
					</div>
				</a>

				<a href="artsho5" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/artsho-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>ARTSHO5</h3>
							<p>Exhibition</p>
						</div>
					</div>
				</a>

				<a href="maddie" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/maddie-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Maddie Peterson</h3>
							<p>Identity</p>
						</div>
					</div>
				</a>

				<a href="sorry" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/sorry-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Sorry For Laughing</h3>
							<p>Exhibition</p>
						</div>
					</div>
				</a>

				<a href="bca" class="thumb-container-margin">
					<div class="thumb-container">
						<img src="{{STATIC_URL}}img/thumbs/bca-thumb.jpg" class="thumb">
						<div class="thumb-overlay">
							<h3>Black Cultural Archives</h3>
							<p>Identity</p>
						</div>
					</div>
				</a>

				<div class="clearfix"></div>

			</div>

		</div>
	</div>
{% endblock %}

</div>