{% extends 'edit/base.html' %}
{% load bootstrap %}
{% load bootstrap3 %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'edit-index' %}">Edit Site</a></li>
        <li class="active">Edit Project</li>
    </ol>

    <div class="row">
        <div class="col-md-10">
            <h1>Edit Project</h1>

            {% bootstrap_messages %}

            <ul class="nav nav-tabs" role="tablist">
			          <li role="presentation" class="active">
                    <a href="#info" role="tab" data-toggle="tab">Basic Info</a>
                </li>
			          <li role="presentation">
                    <a href="#contributors" role="tab" data-toggle="tab">Contributors</a>
                </li>
			          <li role="presentation">
                    <a href="#media" role="tab" data-toggle="tab">Media</a>
                </li>
		        </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="info">
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|bootstrap}}

                        <div class="form-group">
                            {% if object.thumb_hash %}
                                <label for="thumbnail">Replace Thumbnail</label>
                            {% else %}
                                <label for="thumbnail">Add Thumbnail</label>
                            {% endif %}

                            {% if object.thumb_hash %}
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object" width="140"  height="140" src="https://d2f33fmhbh7cs9.cloudfront.net/image/{{object.thumb_hash}}/140s/image{{object.thumb_extension}}" />
                                    </div>
                                    <div class="media-body">
                                        <input type="file" name="thumbnail" id="thumbnail" />
                                        <p class="help-text">Image will automatically be cropped to square and resized.</p>
                                    </div>
                                </div>
                            {% else %}
                                <input type="file" name="thumbnail" id="thumbnail" />
                            {% endif %}
                        </div>
                        <input type="submit" value="save" class="btn btn-primary"/>
                    </form>
                </div>

                <div class="tab-pane" id="contributors">

                    {% if object.projectcontributor_set.count %}
                        <h3>Contributors</h3>
                        <div class="list-group">
                        {% for c in object.projectcontributor_set.all %}
                            <div class="list-group-item">
                                {% if c.user %}
                                    <a href="{% url 'userena_profile_detail' c.user.username %}">{{c.user.first_name}} {{c.user.last_name}}</a>
                                    {% if c.fullname %}
                                        (display as: "{{c.fullname}}")
                                    {% endif %}
                                {% else %}
                                    {{c.fullname}}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No contributors listed yet</p>
                    {% endif %}
                    
                    <form action="{% url 'add-contributor' object.pk %}" method="post" class="form">
                        {% csrf_token %}
                        <div class="panel panel-default">
                            <div class="panel-heading">Add Contributor</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="user">Member</label>
                                    <select name="user" id="user" class="form-control">
                                        <option value="">Not a Spokehub member, add name below</option>
                                        <option value="">---------</option>
                                        {% for user in users %}
                                            <option value="{{user.pk}}">{{user.first_name}} {{user.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fullname">Full Name</label>
                                    <input type="text" name="fullname" value="" class="form-control" />
                                </div>
                                {% buttons submit="Add Contributor" %}{% endbuttons %}
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="media">
                    <p>nothing here yet</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="alert alert-danger">
                <a class="btn btn-danger" href="{% url 'delete-project' object.pk %}">Delete</a>
            </div>
        </div>

    </div>

{% endblock %}
