{% extends 'edit/base.html' %}
{% load bootstrap %}
{% load bootstrap3 %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'edit-index' %}">Edit Site</a></li>
        <li class="active">Edit Project</li>
    </ol>

    <div class="row">
        <div class="col-md-10">
            <h1>Edit Project</h1>

            {% bootstrap_messages %}

            <ul class="nav nav-tabs" role="tablist">
			          <li role="presentation" class="active">
                    <a href="#info" role="tab" data-toggle="tab">Basic Info</a>
                </li>
			          <li role="presentation">
                    <a href="#contributors" role="tab" data-toggle="tab">Contributors</a>
                </li>
			          <li role="presentation">
                    <a href="#media" role="tab" data-toggle="tab">Media</a>
                </li>
		        </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="info">
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|bootstrap}}

                        <div class="form-group">
                            {% if object.thumb_hash %}
                                <label for="thumbnail">Replace Thumbnail</label>
                            {% else %}
                                <label for="thumbnail">Add Thumbnail</label>
                            {% endif %}

                            {% if object.thumb_hash %}
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object" width="140"  height="140" src="https://d2f33fmhbh7cs9.cloudfront.net/image/{{object.thumb_hash}}/140s/image{{object.thumb_extension}}" />
                                    </div>
                                    <div class="media-body">
                                        <input type="file" name="thumbnail" id="thumbnail" />
                                        <p class="help-text">Image will automatically be cropped to square and resized.</p>
                                    </div>
                                </div>
                            {% else %}
                                <input type="file" name="thumbnail" id="thumbnail" />
                            {% endif %}
                        </div>
                        <input type="submit" value="save" class="btn btn-primary"/>
                    </form>
                </div>

                <div class="tab-pane" id="contributors">

                    {% if object.projectcontributor_set.count %}
                        <h3>Contributors</h3>
                        <div class="list-group">
                        {% for c in object.projectcontributor_set.all %}
                            <div class="list-group-item contributor" id="{{c.pk}}">
                                {% if c.user %}
                                    <a href="{% url 'userena_profile_detail' c.user.username %}">{{c.user.first_name}} {{c.user.last_name}}</a>
                                    {% if c.fullname %}
                                        (display as: "{{c.fullname}}")
                                    {% endif %}
                                {% else %}
                                    {{c.fullname}}
                                {% endif %}
                                    <a href="{% url 'remove-contributor' c.pk %}" class="btn pull-right btn-danger btn-xs">Remove</a>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No contributors listed yet</p>
                    {% endif %}
                    
                    <form action="{% url 'add-contributor' object.pk %}" method="post" class="form">
                        {% csrf_token %}
                        <div class="panel panel-default">
                            <div class="panel-heading">Add Contributor</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="user">Member</label>
                                    <select name="user" id="user" class="form-control">
                                        <option value="">Not a Spokehub member, add name below</option>
                                        <option value="">---------</option>
                                        {% for user in users %}
                                            <option value="{{user.pk}}">{{user.first_name}} {{user.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fullname">Full Name</label>
                                    <input type="text" name="fullname" value="" class="form-control" />
                                </div>
                                {% buttons submit="Add Contributor" %}{% endbuttons %}
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="media">
                    <form action="{% url 'add-media' object.pk %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="image">Image</label>
                                    <input type="file" name="image" class="form-control" id="image" />
                                </div>
                                {% buttons submit="Add Image" %}{% endbuttons %}
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="youtube">Youtube</label>
                                    <input type="text" name="youtube_url" id="youtube"
                                           class="form-control"
                                           placeholder="https://www.youtube.com/watch?v=-kjyltrKZSY"
                                    />
                                </div>
                                {% buttons submit="Add Youtube Video" %}{% endbuttons %}
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="vimeo">Vimeo</label>
                                    <input type="text" name="vimeo_url" id="vimeo"
                                           placeholder="https://vimeo.com/188063203"
                                           class="form-control" />
                                </div>
                                {% buttons submit="Add Vimeo Video" %}{% endbuttons %}
                            </div>
                        </div>
                    </form>

                    {% if object.projectmedia_set.count %}
                        <h3>Media</h3>
                        {% for media in object.projectmedia_set.all %}
                            <div class="thumbnail show-thumb" id="{{media.pk}}">
                                {% if media.image_hash %}
                                    <img src="https://d2f33fmhbh7cs9.cloudfront.net/image/{{media.image_hash}}/200w150h/image{{media.image_extension}}" class="img-responsive" />
                                {% endif %}
                                {% if media.youtube_id %}
                                    <div class="embed video-player">
                                        <iframe class="youtube-player" type="text/html"
                                                width="320" 
                                                src="https://www.youtube.com/embed/{{media.youtube_id}}"
                                                allowfullscreen frameborder="0">
                                        </iframe>
                                    </div>
                                {% endif %}
                                {% if media.vimeo_id %}
                                    <div class="embed video-player">
                                        <iframe src="https://player.vimeo.com/video/{{media.vimeo_id}}"
                                                class="embedded-vimeo" frameborder="0"
                                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                {% endif %}
                                <div class="caption">
                                    <a href="{% url 'remove-media' media.pk %}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            {% if object.published %}
                <div class="alert alert-info">
                    <a href="{% url 'project-detail' object.slug %}" target="_blank" class="btn btn-info">View</a>
                </div>

                <div class="alert alert-info">
                    This project is published.
                    <form action="{% url 'draft-project' object.pk %}" method="post">{% csrf_token %}
                        {% buttons submit="Revert to Draft" %}{% endbuttons %}
                    </form>
                </div>
            {% else %}
                <div class="alert alert-info">
                    <a href="{% url 'project-detail' object.slug %}" class="btn btn-info">Preview</a>
                </div>

                <div class="alert alert-warning">
                    This project is only a draft.
                    <form action="{% url 'publish-project' object.pk %}" method="post">{% csrf_token %}
                        <input type="submit" value="Publish" class="btn btn-warning">
                    </form>
                </div>
            {% endif %}
            
            <div class="alert alert-danger">
                <a class="btn btn-danger" href="{% url 'delete-project' object.pk %}">Delete</a>
            </div>
        </div>

    </div>

{% endblock %}

{% block js %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script>
     var saveOrderOfMedia = function() {
         var url = "{% url 'reorder-project-media' object.pk %}";
         var worktodo = 0;
         var data = {};
         jQuery(".show-thumb").each(function(index, element) {
             worktodo = 1;
             var id = jQuery(element).attr('id');
             data["media_" + index] = id;
         });
         if (worktodo == 1) {
             $.ajax({
                 url: url,
                 type: 'POST',
                 data: data
             })
         }
     };

     var saveOrderOfContributors = function() {
         var url = "{% url 'reorder-project-contributors' object.pk %}";
         var worktodo = 0;
         var data = {};
         jQuery(".contributor").each(function(index, element) {
             worktodo = 1;
             var id = jQuery(element).attr('id');
             data["contributor_" + index] = id;
         });
         if (worktodo == 1) {
             $.ajax({
                 url: url,
                 type: 'POST',
                 data: data
             })
         }
     };
     
     $(function() {
         $( "#media" ).sortable({
             items : 'div.show-thumb'
             , stop: function (event,ui) { saveOrderOfMedia(); }
         });
         $( "#media" ).disableSelection();
     });

     $(function() {
         $( "#contributors" ).sortable({
             items : 'div.contributor'
             , axis: "y"
             , stop: function (event,ui) { saveOrderOfContributors(); }
         });
         $( "#contributors" ).disableSelection();
     });
</script>

{% endblock %}
