{% load markup %}
{% if not object.published %}
    <h3>!!! Draft. This project has not been published !!!</h3>
    <p><a href="{% url 'edit-project' object.pk %}">Go back to edit view</a></p>
    <hr />
{% endif %}

{% if object.published or request.user.is_staff %}
<h1>{{object.title}}</h1>
<h2>{{object.subhead}}</h2>
<h3>{{object.date}}</h3>

{% if object.projectcontributor_set.count %}
    <ul>
        {% for c in object.projectcontributor_set.all %}
            <li>
                {% if c.user %}
                    <a href="{% url 'userena_profile_detail' c.user.username %}">
                        {% if c.fullname %}{{c.fullname}}{% else %}{{c.user.first_name}} {{c.user.last_name}}{% endif %}</a>
                {% else %}
                    {{c.fullname}}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{{object.description|markdown}}
{% else %}
<p>you must be a staff member to view drafts</p>
{% endif %}
