<div class="work black-bg">

    {% extends 'base.html' %}
    {% load user_profile %}
    {% block content %}
	      <div id="site-wrapper"> 
		        <div class="content-wrapper content-container">
			          <div id="work-nav">
				            <a href="../endemol"><i class="mdi mdi-arrow-left"></i> Previous</a>
				            <a href=".."><i class="mdi mdi-border-all"></i> View All</a>
				            <a href="../irrelationship">Next <i class="mdi mdi-arrow-right"></i></a>
			          </div>

			          <div class='swipe-container'>
			              <div id='mySwipe' style='max-width:865px;width:100%;margin:0 auto' class='swipe'>
			                  <div class='swipe-wrap'>
			                      <div class="slide"><img src="{{STATIC_URL}}img/redbull/white_flag.jpg"></div>
			                  </div>
			              </div>
			          </div>

      	        <div class="project-writeup">
			              <p> {% user_profile 'kwamec' as u %}
                        {% if u and u.profile %}
                            <a href="{% url 'userena_profile_detail' u.username %}"
                               class='btn btn-primary btn-large' data-popover="true" data-html="true"
                               data-content="{{u.profile.hover_div}}">Kwame Charles</a>
                        {% else %}
                            Kwame Charles
                        {% endif %} /
                        {% user_profile 'Onika' as u %}
                        {% if u and u.profile %}
                        <a href="{% url 'userena_profile_detail' u.username %}"
                           class='btn btn-primary btn-large' data-popover="true" data-html="true"
                           data-content="{{u.profile.hover_div}}">Onika Simon</a>
                        {% else %}
                        Onika Simon
                        {% endif %}
                        /
                        {% user_profile 'JQ' as u %}
                        {% if u and u.profile %}
                        <a href="{% url 'userena_profile_detail' u.username %}"
                           class='btn btn-primary btn-large' data-popover="true" data-html="true"
                           data-content="{{u.profile.hover_div}}">Julien Queyrane</a>
                        {% else %}
                        Julien Queyrane
                        {% endif %}

		            </div>

		        </div>
	      </div>
    {% endblock %}

</div>
