{% extends 'base.html' %}
{% load markup %}
<div class="we we-main">


{% block content %}

	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">

		    <div class="page-heading">

				<ul class="archives-post">
					<!--<li><a href="#"><i class="mdi mdi-folder"></i> Browse Archives</a></li>-->
					<li><a href="ask"><i class="mdi mdi-comment-processing"></i> Ask a Question</a></li>
				</ul>

		    	<h2><b>WE</b> ask questions with visual answers</h2>

		    </div>

			<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
  				<div class="grid-sizer"></div>
				<!--<div class="grid-item ask-box">
					<h3><a href="ask">Ask a question!</a></h3>
				</div>-->
          {% for conversation in conversation_list %}
              <div class="grid-item">
					        <h3><a href="{{conversation.get_absolute_url}}">{{conversation.body|markdown}}</a></h3>
					        <p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					        <p>Berlin, Germany, 21/11/15 23:40</p>
				      </div>
          {% endfor %}


          <div class="grid-item">
					<h3><a href="question">Where do socks go in the laundry?</a></h3>
					<p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					<p>Berlin, Germany, 21/11/15 23:40</p>
				  </div>
          
				<div class="grid-item">
					<h3>Python vs. Javascript vs. Ruby. Which one is best for a front-end developer to learn?</h3>
					<p><a href="#">UserUserUser</a>, Java Developer</p>
					<p>Budapest, Hungary, 14/11/15 15:20</p>
				</div>
				<div class="grid-item">
					<h3>Is Design Art?</h3>
					<p><a href="#">User503059</a>, Graphic Designer</p>
					<p>New York, NY, USA, 08/11/15 14:23</p>
				</div>
				<div class="grid-item">
					<h3>Thoughts on Dieter Rams' 10 Principles of Good Design?</h3>
					<p><a href="#">User503059</a>, Graphic Designer</p>
					<p>London, UK, 29/10/15 3:32</p>
				</div>
				<div class="grid-item">
					<h3>Was the Moon Landing really filmed on a sound stage in Mars? What are some of your favorite conspiracy theories?</h3>
					<p><a href="#">harveypekar</a>, Python Developer</p>
					<p>Berlin, Germany, 21/10/15 23:40</p>
				</div>
				<div class="grid-item">
					<h3>FAVORITE MUSIC TO PLAY WHILE WORKING ON DESIGN? WHILE WORKING ON WEB DEV? DO SOME TYPES OF MUSIC GO BETTER WITH DIFFERENT DISCIPLINES?</h3>
					<p><a href="#">i_cant_explain</a>, Industrial Designer</p>
					<p>Budapest, Hungary, 14/10/15 15:20</p>
				</div>
				<div class="grid-item">
					<h3>What do you think of Agile/Scrum methodology?</h3>
					<p><a href="#">User503059</a>, Graphic Designer</p>
					<p>New York, NY, USA, 08/10/15 14:23</p>
				</div>
				<div class="grid-item">
					<h3>Thoughts on Dieter Rams' 10 Principles of Good Design?</h3>
					<p><a href="#">User503059</a>, Graphic Designer</p>
					<p>London, UK, 02/10/15 3:32</p>
				</div>
				<div class="grid-item">
					<h3>Adobe Photoshop or illustrator: which one is better for making design comps?</h3>
					<p><a href="#">User503059</a>, Graphic Designer</p>
					<p>New York, NY, USA, 28/09/15 14:23</p>
				</div>
				<div class="grid-item">
					<h3>which city is the best one in which to have a design career?</h3>
					<p><a href="#">User503059</a>, Graphic Designer</p>
					<p>New York, NY, USA, 18/09/15 14:23</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

</div>
