<div class="we we-main">
	
{% extends 'base.html' %}
    {% load markup %}
    {% load target_blank %}

{% block content %}

	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">

		    <div class="page-heading">

				<ul class="archives-post">
					  <li><a href="archive"><i class="mdi mdi-folder"></i> Browse Archives</a></li>
            		{% if request.user.is_authenticated and request.user.profile.completed %}
					      <li><a href="ask"><i class="mdi mdi-comment-processing"></i> Ask a Question</a></li>
            		{% endif %}
				</ul>

		    	<h2><b>WE</b> ask questions with visual answers</h2>

		    </div>

			<div id="grid" class="clearfix" data-columns>
          		{% for conversation in conversation_list %}
					<div class="question">
						<h3><a href="{{conversation.get_absolute_url}}">{{conversation.body|markdown|urlize|url_target_blank}}</a></h3>
						<p class="username"><a href="{% url 'userena_profile_detail' conversation.author.username %}" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='{% url 'userena_profile_detail' conversation.author.username %}'>
							<div class='cover-photo' {% if conversation.author.profile.cover %}style='background-image:url({{conversation.author.profile.cover.url}});'{% endif %}></div>
							<div class='profile-img-thumb' style='background-image:url({{conversation.author.profile.get_mugshot_url}});'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>{{conversation.author.username}}</b></h2>
							</div>
						</a>
						<dd>{{conversation.author.profile.profession}}</dd>
						<dd>{{conversation.author.profile.location}}</dd>
						<dd><a href='{{conversation.author.profile.website_url}}' target='blank'>{{conversation.author.profile.website_name}}</a></dd>
						<dd><a href='mailto:{{conversation.author.profile.user.email}}'>{{conversation.author.profile.user.email}}</a></dd>
					</div>">{{conversation.author.username}}</a>, {{conversation.author.profile.profession}}</p>
						<p class="timestamp">{{conversation.author.profile.location}}, {{conversation.added}}</p>
					</div>
          		{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}

</div>
