<div class="we we-main">
	
{% extends 'base.html' %}
{% load markup %}

{% block content %}

	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">

		    <div class="page-heading">

				<ul class="archives-post">
					<!--<li><a href="#"><i class="mdi mdi-folder"></i> Browse Archives</a></li>-->
					<li><a href="ask"><i class="mdi mdi-comment-processing"></i> Ask a Question</a></li>
				</ul>

		    	<h2><b>WE</b> ask questions with visual answers</h2>

		    </div>

			<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
  				<div class="grid-sizer"></div>
				<!--<div class="grid-item ask-box">
					<h3><a href="ask">Ask a question!</a></h3>
				</div>-->
          {% for conversation in conversation_list %}
              <div class="grid-item">
					        <h3><a href="{{conversation.get_absolute_url}}">{{conversation.body|markdown}}</a></h3>
					        <p><a href="{% url 'userena_profile_detail' conversation.author.username %}">{{conversation.author.username}}</a>, {{conversation.author.profile.discipline1}}</p>
					        <p>{{conversation.author.profile.city}}, {{conversation.author.profile.country}}, {{conversation.added}}</p>
				      </div>
          {% endfor %}
			</div>
		</div>
	</div>

{% endblock %}

</div>
