<div class="we we-question">

{% extends 'base.html' %}

{% block content %}

	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">

		    <div class="page-heading clearfix">

				<ul class="archives-post">
					<li><a href=".."><i class="mdi mdi-arrow-left"></i> Back to Forum</a></li>
					<!--<a href="#"><i class="mdi mdi-folder"></i> Browse Archives</a>-->
					<li><a href="../ask"><i class="mdi mdi-comment-processing"></i> Ask a Question</a></li>
				</ul>

		    	<h2><b>WE</b> ask questions with visual answers</h2>

			</div>

			<div class="conversation">
				<div class="grid-item">
					<h3><a href="question">Where do socks go in the laundry?</a></h3>
					<p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					<p>Berlin, Germany, 21/11/15 23:40</p>
				</div>
				<!--<h2>Add a visual to the conversation</h2>
				<div class="upload-enter">
					<span>Upload File</span>
					<span><a href="#">Enter URL</a></span>
				</div>
				<div class="clearfix"></div>
				<input type="text" placeholder="Select image or video file" class="select-file"> <input type="submit" value="BROWSE" class="browse-files">
				<textarea name="styled-textarea" class="convo-question" placeholder="Got anything to say about it?"></textarea>
				<p id="chars-left">140 characters left</p>
				<input type="submit" value="SUBMIT" class="convo-submit">-->

			</div>

			<h3 class="convo-responses">2 RESPONSES</h3>

			<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>

				<div class="grid-sizer"></div>

				<div class="grid-item">
					<p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					<p>Berlin, Germany, 21/11/15 23:40</p>
					<div class="media-center"><img src="{{STATIC_URL}}img/dummy/bauhaus.jpg"></div>
					<p>Etiam gravida commodo arcu, vitae tristique nibh ultricies et. Nunc dolor nulla, rutrum vel dictum id, mollis non purus.</p>
				</div>

				<div class="grid-item">
					<p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					<p>Berlin, Germany, 21/11/15 23:40</p>
					<div class="media-center"><img src="{{STATIC_URL}}img/dummy/crumb.jpg"></div>
					<p>Etiam gravida commodo arcu, vitae tristique nibh ultricies et. Nunc dolor nulla, rutrum vel dictum id, mollis non purus.</p>
				</div>

				<div class="grid-item">
					<p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					<p>Berlin, Germany, 21/11/15 23:40</p>
					<div class="media-center"><img src="{{STATIC_URL}}img/dummy/munari.jpg"></div>
					<p>Etiam gravida commodo arcu, vitae tristique nibh ultricies et. Nunc dolor nulla, rutrum vel dictum id, mollis non purus.</p>
				</div>

				<div class="grid-item">
					<p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					<p>Berlin, Germany, 21/11/15 23:40</p>
					<div class="media-center"><img src="{{STATIC_URL}}img/dummy/ive.jpg"></div>
					<p>Etiam gravida commodo arcu, vitae tristique nibh ultricies et. Nunc dolor nulla, rutrum vel dictum id, mollis non purus.</p>
				</div>

				<div class="grid-item">
					<p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					<p>Berlin, Germany, 21/11/15 23:40</p>
					<div class="media-center"><img src="{{STATIC_URL}}img/dummy/dieter.jpg"></div>
					<p>Etiam gravida commodo arcu, vitae tristique nibh ultricies et. Nunc dolor nulla, rutrum vel dictum id, mollis non purus.</p>
				</div>

				<div class="grid-item" id="response-02">
					<p><a href="#">Ariel_Cotton</a>, UI/UX Designer</p>
					<p>Berlin, Germany, 21/11/15 23:40</p>
					<div class="media-center"><iframe class="response-vid" src="https://www.youtube.com/embed/sZrtIjfFlKw" frameborder="0" allowfullscreen></iframe></div>
					<p>Etiam gravida commodo arcu, vitae tristique nibh ultricies et. Nunc dolor nulla, rutrum vel dictum id, mollis non purus.</p>
				</div>

			</div>
			
			</div>
		</div>
	</div>

{% endblock %}

</div>