/* Modals */
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 400px; } }

.modal-content {
  border-radius: 0px;
  color: #262222; }
  .modal-content .modal-title {
    text-transform: uppercase;
    font-family: dinmed; }

/* Buttons */
.btn {
  border-radius: 0px;
  text-transform: uppercase;
  font-family: dinlight; }

.btn-primary {
  background-color: #262222;
  border: none;
  color: white; }
  .btn-primary:hover {
    background-color: black; }

/* Input and Submit */
input, textarea, keygen, select, button {
  border: none;
  background-color: #262222;
  color: white;
  text-transform: uppercase;
  font-family: dinlight; }

.userena p {
  margin: 0 0 40px 0; }
.userena .control-group {
  clear: both;
  margin: 0 0 20px 0; }
  .userena .control-group .control-label {
    width: 50%;
    float: left;
    display: inline;
    padding: 0 15px 0 0; }
  .userena .control-group .controls input {
    width: 50%; }

/* Home Nav */
.hubauth {
  margin-top: 5em; }
  .hubauth li {
    float: left;
    margin: 0 0 0 1em; }
    .hubauth li ul {
      border: none;
      border-radius: 0;
      padding: 10px;
      left: -22%; }
      .hubauth li ul.dropdown-menu {
        box-shadow: none; }
      .hubauth li ul li {
        float: left; }
  .hubauth button {
    display: inline;
    border: none;
    border-radius: 0; }
    .hubauth button:hover {
      background-color: white; }
  .hubauth a {
    color: #262222;
    text-transform: uppercase; }
    .hubauth a:hover {
      color: #555555;
      text-decoration: none; }
  .hubauth .mugshot {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: -2em 2em; }

.nav {
  text-transform: uppercase;
  font-family: dinmed;
  font-size: 1em; }
  .nav .hubnav a {
    background-color: white; }
  .nav .hubnav:hover {
    color: #555555;
    text-decoration: none; }
  .nav .caret {
    border-top-color: #262222;
    border-bottom-color: #262222; }

.open .dropdown-toggle.btn-default {
  background-color: white; }

.nav > li > a {
  padding: 0px;
  display: inline; }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: white; }

.staticnav .nav-justified {
  margin-top: 5em;
  margin-left: -11%; }

.nav-justified > li {
  display: inline;
  margin-right: 20px; }

button.hubnav {
  text-transform: uppercase;
  font-family: dinmed;
  color: #262222;
  background-color: transparent;
  padding: 0;
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none; }
  button.hubnav:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

/* Home Panels */
.panel, .panel-group .panel {
  border: none;
  border-radius: 0; }

.panel-heading {
  min-height: 85px;
  text-transform: uppercase;
  font-family: dinlight; }
  .panel-heading div, .panel-heading span {
    display: inline;
    float: left;
    margin-top: 20px; }
  .panel-heading .panel-title {
    font-size: 1.5em;
    margin-left: 5%;
    width: 25%; }
  .panel-heading span.glyphicon {
    margin: 20px 0 0 200px; }
  .panel-heading .nav.carat {
    border-top-color: #262222;
    border-bottom-color: #262222; }
  .panel-heading .desc {
    font-size: 1.15em;
    width: 25%;
    letter-spacing: 0.045em; }

.panelbreak.white {
  width: 100%;
  border-bottom: solid 1px white;
  margin: 10px 0;
  padding: 0;
  clear: both; }

.panelbreak.black {
  width: 100%;
  border-bottom: solid 1px #262222;
  margin: 10px 0;
  padding: 0; }

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border: 0; }

#hub1, #hub3, #how, #work {
  background-color: #262222;
  color: white;
  border: none;
  border-radius: 0; }
  #hub1 .desc:hover, #hub3 .desc:hover, #how .desc:hover, #work .desc:hover {
    color: #dddddd;
    text-decoration: none; }

#hub2, #hub4, #we, #now {
  background-color: white;
  color: #262222;
  border: none;
  border-radius: 0; }
  #hub2 .desc:hover, #hub4 .desc:hover, #we .desc:hover, #now .desc:hover {
    color: #555555;
    text-decoration: none; }

#hub1 .desc {
  margin-top: 11px; }

.panel-body h2 {
  font-size: 1.5em; }

/* Conversations */
.addvoice {
  float: left;
  clear: both;
  padding: 30px 0; }
  .addvoice img:hover {
    opacity: 0.8; }
  .addvoice p {
    float: left;
    margin: 20px 30px 0 0; }
  .addvoice ul {
    float: left; }
    .addvoice ul li {
      margin: 0 40px 0 0; }

.hubconvo {
  margin: 30px 0; }
  .hubconvo .row {
    margin: 0 0 6px 0; }
  .hubconvo .col-sm-5.col-md-5.left {
    padding-right: 3px;
    padding-left: 0; }
  .hubconvo .col-sm-5.col-md-5.right {
    padding-right: 0;
    padding-left: 3px; }
  .hubconvo .col-sm-1.col-md-1 {
    padding-left: 0;
    padding-right: 0; }

.convoblock {
  color: #262222;
  background-color: white;
  padding: 15px 20px 15px 20px;
  height: auto;
  margin: 1px 0 0 0;
  text-transform: uppercase;
  font-family: dinlight;
  border: none;
  border-radius: 0; }
  .convoblock a img {
    max-height: 150px;
    display: block;
    margin: 0 auto; }
  .convoblock .convoheader {
    clear: both;
    text-align: center; }
    .convoblock .convoheader .user_name a {
      text-transform: uppercase;
      font-family: dinmed; }
  .convoblock .convocontent {
    clear: both;
    height: auto; }

/* Video */
.video {
  text-align: center; }

/* Slideshow */
.flexslider {
  margin: 0 auto;
  max-width: 1000px; }

.slides .caption {
  text-transform: uppercase;
  font-family: dinlight;
  font-size: 18px;
  padding-top: 20px; }
  .slides .caption a {
    color: white; }

/* Masonry For NOW */
#nowtiles {
  padding: 30px; }

.nowtile {
  text-transform: uppercase;
  font-family: dinlight;
  letter-spacing: 0.045em;
  width: 400px;
  padding: 10px;
  margin: 10px 0; }
  .nowtile .nowtileheader {
    text-transform: uppercase;
    font-family: dinmed;
    margin: 0 0 10px 0; }
  .nowtile .nowtilefooter {
    text-transform: uppercase;
    font-family: dinmed; }
  .nowtile img {
    max-width: 380px;
    margin: 0 0 10px 0; }
  .nowtile p {
    font-size: 20px; }

/* Footer */
#footer {
  background-color: #262222;
  width: 100%;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 9000; }
  #footer a {
    color: whitesmoke;
    margin-left: 25px; }
    #footer a:hover {
      color: #dddddd;
      text-decoration: none; }
  #footer span {
    text-transform: uppercase;
    font-family: dinlight;
    color: whitesmoke;
    margin-left: 25px; }

/* All user areas */