/* Fonts */
@font-face {
  font-family: "dinlight";
  src: url("../fonts/DINWeb-Light.eot");
  src: url("../fonts/DINWeb-Light.woff") format("woff"); }
@font-face {
  font-family: "dinmed";
  src: url("../fonts/DINWeb-Medium.eot");
  src: url("../fonts/DINWeb-Medium.woff") format("woff"); }
/* Colors */
/* Mixin Styles */
/* Base Styles */
html, body {
  margin: 0; }

p, span, h1, h2, h3, h4, h5, h6, label, dd {
  text-transform: uppercase;
  font-family: dinlight;
  letter-spacing: 0.045em; }

a {
  color: #262222; }

dt, strong {
  text-transform: uppercase;
  font-family: dinmed; }
