.about-container {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 10vh;
  left: 5vw;
  width: 90vw;
  height: 80vh;
  padding: 5%;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  overflow: auto;
  b {
    font-weight: 700;
  }
  @media all and (max-width: 540px) {
    h1 {
      @include font-size(1);
    }
    ol li {
      @include font-size(0.7);
    }
  }
}
.about-title, .about-undertitle {
  text-align: center;
}
.about-copy {
  max-width: 70%;
  margin: 5% auto;
  text-align: left;
  h4 {
    text-align: center;
  }
  ol {
    margin-left: 0;
    padding-left: 1em;
    text-indent: -0.5em;
    li:before {
      content: '#';
      position: relative;
      right: 1.5em;
    }
  }
}
.about-close-button {
  position: absolute;
  top: 1%;
  right: 1%;
}
.about-undertitle a {
  text-decoration: underline;
}
