footer {
  width: 100%;
  height: 46px;
  background: $black;
  p,
  span {
   font-family: $base-font;
  }
  bottom: 0;
  color: #fff;
  @media only screen and (max-width: 767px) {
    height: 76px;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    position: fixed;
    z-index: 10;
  }
  /*@media only screen and (max-width: 499px) {
    height: 98px;
  }*/
}
.footer-wrapper {
  height: 50px;
  margin: 0 auto;
  line-height: 1.0;
  @media only screen and (min-width: 768px) {
    justify-content: space-between;
  }
  align-items: center;
  a:hover {
    color: $white;
  }
  ul {
    @extend .flex;
    list-style: none;
    float: left;
    width: 160px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 767px) {
      float: none;
      margin-top: 0;
      padding-top: 15px;
      margin-bottom: 12px;
    }

    li{
      text-transform: uppercase;
      font-size: 20px;
      &:not(:last-of-type) {
        margin-right: 14px;
      }
      a:hover {
        color: $yellow;
      }
    }
  }
  .copyright {
    padding-right: 0px;
    float: right;
    padding-top: 19px;
    text-transform: uppercase;
    @include font-size(11);
    @media only screen and (max-width: 767px) {
      padding-right: 0;
      padding-top: 0;
      margin: 0 auto;
      float: none;
    }
    @media only screen and (max-width: 499px) {
      line-height: 20px;
      .all-rights {
        display: none;
      }
    }
  }
  .blog-link {
    color: $yellow;
  }
}
