footer {
  width: 100%;
  height: 46px;
  background: #262222;
  /*position: fixed;*/
  bottom: 0;
  color: #fff;
  @media only screen and (max-width: 767px) {
    height: 80px;
  }
}
.footer-wrapper {
  height: 50px;
  margin: 0 auto;
  line-height: 1.0;
  @media only screen and (min-width: 768px) {
    justify-content: space-between;
  }
  align-items: center;
  a:hover {
    color: $white;
  }
  ul {
    @extend .flex;
    list-style: none;
    float: left;
    width: 142px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 767px) {
      float: none;
    }

    li{
      text-transform: uppercase;
      font-size: 20px;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
      a:hover {
        color: $light-gray;
      }
    }
  }
  .copyright {
    padding-right: 10px;
    float: right;
    padding-top: 19px;
    text-transform: uppercase;
    @include font-size(12);
    @media only screen and (max-width: 767px) {
      padding-right: 0;
      padding-top: 0;
      margin: 0 auto;
      padding-left: 25px;
      float: none;
      padding-top: 0;
    }
  }
  .blog-link {
    color: $yellow;
  }
}
