footer {
  width: 100%;
  height: 6vh;
  background: #000;
  position: fixed;
  bottom: 0;
  color: #fff;
}
.footer-wrapper {
  max-width: 960px;
  height: inherit;
  margin: 0 auto;
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  ul {
    @extend .flex;
    list-style: none;

    li{
      text-transform: uppercase;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
  .copyright {
    padding-right: 10px;
    @media all and (max-width: 640px) {
      @include font-size(0.6);
      text-align: right;
    }
  }
}
