*,
*:before,
*:after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

html, body {
  height: 100%;
  width: 100%;
}

.loader {
  width: 10vw;
  margin: 0 auto;
  padding-top: 20vh;
}

body, #site-wrapper {
  position: relative;
}

#site-wrapper {
  display: none;
}

.content-wrapper{
  margin-bottom: 6vh;
  position: relative;
  .columns {
    @extend .flex;
    width: 100%;
    .column {
      @extend .flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      transition: width 0.33s cubic-bezier(0.72, 0, 0.28, 1), height 0.1s cubic-bezier(0.72, 0, 0.28, 1) 0.33s;
      &:nth-of-type(2n+1) {
        color: #fff;
        background: black;
      }
      h1 {
        text-transform: uppercase;
        @include font-size (1);
        cursor: pointer;
      }
    }
  }
  .sections {
    @extend .flex;
    .main-section {
      width: 100%;
      transition: height 0.33s cubic-bezier(0.72, 0, 0.28, 1);
      &:nth-of-type(2n+1) {
        background: #000;
        color: #fff;
      }
    }
  }
}
a {
  color: inherit;
  text-decoration: inherit;
}
.hide {
  display: none;
}
.show {
  display: flex;
  height: 83vh;
}
.full-column {
  height: 87vh;
}
.tabed-column {
  height: 4vh;
}
.expanded {
  width: 100% !important;
}

.coming-soon {
  text-align: center;
  padding-top: 3em;
  display: block;
  margin: 0 auto;
}
