/* COLORS */

$yellow: #fff200;
$cyan: #00ffff;
$magenta: #ec008c;
$black: #000;
$white: #fff;
$dark-gray: #464646;
$light-gray: #a6a6a6;

/* BOX SHADOW */

@mixin box-shadow($horizontal-length, $vertical-length, $blur-radius, $spread-radius, $r, $g, $b, $opacity) {
  -webkit-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius rgba($r,$g,$b,$opacity);
  -moz-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius rgba($r,$g,$b,$opacity);
  box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius rgba($r,$g,$b,$opacity);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

html, body {
  height: 100%;
  width: 100%;
}

.loader {
  width: 10vw;
  margin: 0 auto;
  padding-top: 20vh;
}

body, #site-wrapper {
  position: relative;
  font-size: $base-font-size;
  letter-spacing: 1px;
}

#site-wrapper {
  width: 100%;
  padding-top: 50px;
  min-height: 100%;
  margin-bottom: -50px;
    @media only screen and (max-width: 767px) {
      margin-bottom: -76px;
    }
}

#site-wrapper:after {
  content: "";
  display:block;
  height: 50px;
}

#site-wrapper a {
  color: $cyan;
}

#site-wrapper a:hover {
  color: $black;
}

.content-container {
  margin: 0 auto;
  width: 960px;
  @media only screen and (min-width: 1600px) {
    width: 1520px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    width: 1120px;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    width: 708px;
  }
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    width: 450px;
  }
  @media only screen and (max-width: 499px) {
    width: 300px;
  }
}

.page-heading {
  border-bottom: 1px $black solid;
  margin-bottom: 30px;
  padding-bottom: 10px;
  span {
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 4px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
    font-family: $base-font;
    b {
      font-family: $header-font;
    }
  }
  /*@media only screen and (min-width: 768px) {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    display: block;
  }*/
}

p, span {
  font-family: $header-font;
}

span.intro-text {
  font-family: $base-font;
}

input[type=text],
input[type=password] {
  border: 1px $black solid;
  padding: 10px;
  font-family: $header-font;
  outline-color: $yellow;
  letter-spacing: 1px;
}

input[type=submit] {
  padding: 10px;
  letter-spacing: 1px;
  background: $black;
  color: $white;
  border: 1px $black solid;
  outline-color: $yellow;
  transition: background 0.3s ease 0s, color 0.3s ease 0s;
}

input[type=submit]:hover {
  color: $black;
  background: $white;
  font-family: $header-font;
}

textarea {
  border: 1px $black solid;
  padding: 10px;
  font-family: $header-font;
  letter-spacing: 1px;
  outline-color: $yellow;
}

@mixin columns($column-count, $column-gap) {
    -moz-column-count: $column-count;
    -moz-column-gap: $column-gap;
    -webkit-column-count: $column-count;
    -webkit-column-gap: $column-gap;
    column-count: $column-count;
    column-gap: $column-gap;
}

.content-wrapper{
  padding: 40px 0;
  margin-bottom: 0;
  position: relative;
  /*overflow: auto;*/
  .columns {
    @extend .flex;
    width: 100%;
    .column {
      @extend .flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      transition: width 0.33s cubic-bezier(0.72, 0, 0.28, 1), height 0.1s cubic-bezier(0.72, 0, 0.28, 1) 0.33s;
      &:nth-of-type(2n+1) {
        color: #fff;
        background: black;
      }
      h1 {
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
  .sections {
    @extend .flex;
  }
}
.main-section {
  width: 100%;
  &:nth-of-type(2n+1) {
    background: $black;
    color: #fff;
  }
}
.transition {
  transition: height 0.33s cubic-bezier(0.72, 0, 0.28, 1);
}
a {
  color: inherit;
  text-decoration: inherit;
}
.hide {
  display: none;
}
.show {
  display: flex;
  height: 83vh;
}
.full-column {
  height: 87vh;
}
.tabed-column {
  height: 4vh;
}
.expanded {
  width: 100% !important;
}

.coming-soon {
  text-align: center;
  padding-top: 3em;
  display: block;
  margin: 0 auto;
}

a {
    transition: background 0.3s ease 0s, color 0.3s ease 0s;
}

.clearfix {
  overflow: auto;
}

/* SCSS FOR PAGES WITH BLACK BACKGROUNDS */

.black-bg {
  background: $black;
  color: $white;
}

.black-bg #site-wrapper h1 {
  border-bottom: 1px $white solid;
}

.black-bg #site-wrapper a:hover {
  color: $white;
}

.black-bg #site-wrapper .page-heading {
  border-bottom: 1px $white solid;
}

.black-bg #site-wrapper p, .black-bg #site-wrapper span {
  font-family: $base-font;
}

.black-bg #site-wrapper input[type="text"], 
.black-bg #site-wrapper input[type="password"]{
  background: $black;
  font-family: $base-font;
  border: 1px $white solid;
}

.black-bg #site-wrapper input[type="submit"] {
  background: $white;
  border: 1px $white solid;
  font-family: $header-font;
  color: $black;
}

.black-bg #site-wrapper input[type="submit"]:hover {
  background: $black;
  border: 1px $white solid;
  font-family: $base-font;
  color: $white;
}