header {
  width: 100%;
  @include box-shadow(0px, 0px, 5px, 0px, 38, 34, 34, 0.25);
  font-family: $header-font;
  background: $white;
  z-index: 9999;
  position: fixed;
  height: 50px;
}
#header-wrapper {
  height: 50px;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    font-size: 18px;
  }
  nav a {
    margin: 0px 10px;
    color: $light-gray;
    @media only screen and (min-width: 1024px) {
      display: inline-block;
    }
  }
  nav a:hover {
    color: $black;
  }
  nav .nav_deactivated {
    margin: 0px 15px;
  }

  #login-link,
  #login-info,
  #username-logout {
    min-width: 210px;
    width: auto;
    text-align: right;
    color: $black;
    margin-top: 14px;
    padding-top: 6px;
  }

  #spokehub-logo {
    width: 210px;
  }

  #spokehub-logo img {
    width: 180px;
  }

  #login-link a {
    color: $black;
  }

  #login-link a:hover,
  #username-logout a:hover,
  #logout-link:hover,
  .mobile.menu .hamburger-icon:hover,
  #logout-link:hover {
    color: $cyan;
  }

  #username-logout span,
  #username-logout .logged-in-thumb {
    display: inline-block;
    vertical-align: top;
  }

  #logout-link {
    margin-left: 5px;
  }

  .logged-in-thumb {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    margin-right: 5px;
  }

  .username-link {
    margin-right: 5px;
  }

  .mobile.menu .hamburger-icon {
    font-size: 40px;
  }

}

#spokehub-logo img {
	width: 180px;
}

.now #header-wrapper nav a.now,
.work #header-wrapper nav a.work,
.how #header-wrapper nav a.how,
.we #header-wrapper nav a.we {
  color: $black;
}

/* LOGIN MODAL WINDOW */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: $white;
    @media only screen and (max-width: 499px) {
      width: 300px;
    }
}
.close {
    color: $black;
    line-height: 25px;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 10px;
    font-size: 20px;
    width: 24px;
    text-decoration: none;
}
.close:hover {
    color: $cyan;
}

#openModal input[type=submit],
#openModal input[type=password],
#openModal input[type=text], {
  width: 100%;
}

#openModal input,
#forgot-password {
  margin-bottom: 20px;
}

.black-bg #openModal {
  color: $black;
}

#forgot-password a {
  color: $cyan;
}

#forgot-password a:hover {
  color: $black;
}

a.nav-toggle:before {
  font-family: "MaterialDesignIcons";
  /*content: "\f324";*/
  color: $black;
  font-size: 30px;
}

a.nav-toggle {
  font-family: "MaterialDesignIcons";
  color: $black;
  font-size: 30px;
}

a.nav-toggle:hover {
    color: $cyan;
}

#username-logout.desktop {
  @media screen and (min-width: 1024px) {
    display: block;
  }
  @media screen and (max-width: 1023px) {
    display: none;
  }
}