
$side-padding: 40px;
$image-ratio: 16/9;

$slider-button-bg-color: #000;
$slider-button-bg-hover-color: lighten($slider-button-bg-color, 20%);
$slider-button-height: 64px;
$slider-button-width: 32px;

$slider-arrow-offset: 5px;
$slider-arrow-thickness: 3px;
$slider-arrow-width: $slider-button-width/4;
$slider-arrow-height: $slider-button-height/4;

.how-wrapper {
  display:flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  @media all and (max-width: 960px) {
    align-items: flex-start;
    padding-top: 5vh;
  }
}

.how .content-container.content-wrapper {
  text-align: center;
}

.how li.bjqs-prev {
  display: none;
}

/*#how-video {
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    width: 1120px;
    height: 630px;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    width: 708px;
    height: 398px;
  }
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    width: 450px;
    height: 253px;
  }
  @media only screen and (max-width: 499px) {
    width: 300px;
    height: 169px;
  }
}*/

@media only screen and (min-width: 1600px) {
  #how-video-container {
    margin: 0 auto;
    width: 1120px;
  }
}

.slider {
  margin: 0 auto;
  position: relative;
  max-width: 960px;
  max-height: 540px;
  display: flex;
  overflow: hidden;
  img {
    width: 0;
    height: 100%;
    flex-shrink: 0;
    transition: width 0.33s cubic-bezier(0.72, 0, 0.28, 1);

    &.visible {
      width: 100%;
    }
  }
  button {
    position: absolute;
    border: $slider-button-height/2 transparent solid;
    background: none;
    width: 0;
    height: 0;
    outline: none;
    cursor: pointer;
    top: calc(90% - #{$slider-button-height}/2);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -$slider-arrow-height/2;
      border: $slider-arrow-height/2 transparent solid;

      width: 0;
      height: 0;
    }

    &.prev {
      left: 0;
      border-left-width: $slider-button-width;
      border-left-color: $slider-button-bg-color;
      border-right: none;

      &:before,
      &:after {
        left: -$slider-button-width + $slider-arrow-offset;
        border-right-width: $slider-arrow-width;
        border-right-color: #fff;
        border-left: none;
      }

      &:hover {
        border-left-color: $slider-button-bg-hover-color;
      }
    }

    &.next {
      right: 0;
      border-right-width: $slider-button-width;
      border-right-color: $slider-button-bg-color;
      border-left: none;

      &:before,
      &:after {
        left: $slider-button-width - $slider-arrow-width + $slider-arrow-offset;
        border-left-width: $slider-arrow-width;
        border-left-color: #fff;
        border-right: none;
      }

      &:hover {
        border-right-color: $slider-button-bg-hover-color;
      }
    }
  }
}
