.now-post img {
	width: 100%;
	height: auto;
    margin-bottom: 8px;
}

.now-post p.now-timestamp {
    margin-bottom: 1px;
}

.now-post p {
	margin-bottom: 3px;
}

.now-post {
	font-family: $header-font;
	margin-bottom: 50px;
    word-wrap: break-word;
}

.now-post-text {
	font-family: $base-font;
	font-size: 18px;
}

ul.now-posts {
    @include columns(4, 33px);
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        @include columns(3, 33px);
    }
    @media only screen and (min-width: 500px) and (max-width: 767px) {
        @include columns(2, 33px);
    }
    @media only screen and (max-width: 499px) {
        @include columns(1, 0px);
    }
}