.now-post img {
	width: 100%;
	height: auto;
}

.now-post p {
	margin-bottom: 0.5em;
}

.now-post {
	font-family: $header-font;
	margin-bottom: 50px;
}

.now-post-text {
	font-family: $base-font;
	font-size: 18px;
}

ul.now-posts {
    @include columns(4, 33px);
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        @include columns(3, 33px);
    }
    @media only screen and (min-width: 500px) and (max-width: 767px) {
        @include columns(2, 33px);
    }
    @media only screen and (max-width: 499px) {
        @include columns(1, 0px);
    }
}

/*ul.now-posts li {
    display: inline-block;
    vertical-align: top;
    margin-right: 33px;
    width: 250px;
}

ul.now-posts li:nth-child(4n+0) {
    margin-right: 0;
}*/

.now footer {
    position: fixed;
}