
//STYLES
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: white;
  position: relative;
}

.loader {
  display: block;
  width: 5%;
  margin: 20% auto;

}

.video-container {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: white;
  position: relative;
  .master {
    position: relative;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}
.copyright {
  float: right;
  @media screen and (max-width: 731px) {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2%;
  }
}
#about-link {
  font-size: 1.5em;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
#about-container {
  width: 80%;
  position: absolute;
  display: none;
  top: 5%;
  right: 10%;
  margin: 0 auto;
  padding: 5% 5%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.24), 0 6px 9.5px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.87);
  color: #fff;
  .about-title {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    h5 {
      font-size: 1em;
      @include leading-rows (1);
    }
  }
  .about-copy {
    width: 85%;
    margin-top: 3%;
    margin-bottom: 7%;
    margin-left: 12%;
    font-weight: 400;
  }
  .about-undertitle {
    @include font-size (1);
    text-align: center;
    text-transform: uppercase;
    a:visited {
      color: white;
    }
    #onika {
      text-decoration: underline;
    }
  }
  #about-exit-button {
    position: absolute;
    z-index: 9999;
    right: 1%;
    top: 1%;
    color: white;
    .mdi {
      @include font-size (1.2);
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: white;
    }
  }
}
