.fader-wrapper {
  width: 100%;
  height: 80vh;
  padding: 5vh;
}
.fader {
  width: 80%;
  margin: 0 auto;
  position: relative;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    &.spotlight {
      opacity: 1;
    }
  }
}
