/* Import some fonts here */
@font-face {
  font-family: "dinlight";
  src: url("fonts/DINWeb-Light.eot");
  src: url("fonts/DINWeb-Light.woff") format("woff"); }
@font-face {
  font-family: "dinmed";
  src: url("fonts/DINWeb-Medium.eot");
  src: url("fonts/DINWeb-Medium.woff") format("woff"); }

@font-face {
  font-family: 'din_alternatebold';
  src: url('fonts/din_alternate_bold-webfont.eot');
  src: url('fonts/din_alternate_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/din_alternate_bold-webfont.woff2') format('woff2'),
       url('fonts/din_alternate_bold-webfont.woff') format('woff'),
       url('fonts/din_alternate_bold-webfont.ttf') format('truetype'),
       url('fonts/din_alternate_bold-webfont.svg#din_alternatebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Variables
$base-font: 'dinlight', Helvetica, sans-serif;
$header-font: 'dinmed', Helvetica, sans-serif;
$base-line-height: 1.5;
$base-font-size: 14px;

/* Media Query calcs */

/* html {
    font-size: \$base-font-size;

    @include media(\$medium) { font-size: 14px; }

    @include media(\$xlarge) { font-size: 16px; }
}*/


/******************************************************************************\
  Font calculation mixins
\******************************************************************************/

// Font size mixin for PX output
@mixin font-size($size) {
    font-size: #{$size}px;
}

// Top margin mixin for REM output with PX fallback
@mixin leading-rows($size: 1) { margin-top: $size * $base-line-height * 1rem; }

// Bottom margin mixin for REM output with PX fallback
@mixin trailing-rows($size: 1) {
  margin-bottom: $size * $base-line-height * 1rem;
}


/******************************************************************************\
  Standard font styling
\******************************************************************************/

body {
  font-family: $base-font;
  line-height: $base-line-height;
  font-weight: 400;
  letter-spacing: 1px;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

p {
    @include leading-rows(0);
    @include trailing-rows(1);
}

blockquote {
  position: relative;

  &:before {
    display: block;
    float: left;
    content: "\"";
    @include font-size(2.5);
    margin: 0 15px 15px 0;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
  font-family: $header-font;
  line-height: 1.2;
    text-transform: uppercase;

    @include media($large) { word-wrap: normal; }
}

h1,
.h1 {
    @include font-size(24);
    padding-bottom: 20px;
    border-bottom: 1px #000 solid;
}

h2,
.h2 {
    @include font-size(18);
}

h3,
.h3 {
    @include font-size(18);
}

h4,
h5,
h6 {
  @include font-size(1);
}

h2,
h3 { page-break-after: avoid; }

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}
