ul.errorList {
	color: $magenta;
}

.mugshot {
	border-radius: 115px;
	border: 5px $white solid;
	margin-top: -100px;
}

.profile-details {
	text-align: center;
	font-family: $header-font;
	margin: 0 auto;
	width: 960px;
	padding: 0 0 40px 0;
	@media only screen and (min-width: 1501px) {
		width: 1421px;
	}
	@media only screen and (max-width: 1500px) {
		width: 100%;
	}
}

.profile-details a {
	color: $cyan;
}

.profile-details a:hover {
	color: $black;
}

.profile-details dd {
	-webkit-margin-start: 0;
	margin-left: 0;
}

.profile-details .page-heading {
	border-bottom: 0;
	margin-bottom: 0;
	text-align: center;
}

.cover-photo {
	height: 300px;
	width: 100%;
	background: $light-gray;
	background-position: center;
	background-size: cover;
	@media only screen and (min-width: 500px) and (max-width: 767px) {
		height: 225px;
	}
	@media only screen and (max-width: 499px) {
		height: 175px;
	}
}

ul.errorlist {
	list-style: none;
	padding: 0;
	li {
		list-style-type: none;
		color: $magenta;
		font-family: $header-font;
	}
}

.help-block {
	color: $magenta;
}

.login-errors input[type=text], 
.login-errors input[type=password], 
.login-errors input[type=submit],
.recover-password input[type=submit],
.recover-password input#id_email {
	width: 100%;
}

.userena h2,
.recover-password h2 {
	margin-top: 0;
}

ul.errorlist {
	display: none;
}

ul.errorlist.nonfield {
	display: block;
}

@media only screen and (min-width: 768px) {
	.content-wrapper.content-container.login-errors,
	.content-wrapper.content-container.recover-password {
		width: 768px;
	}
}