ul.errorList {
	color: $magenta;
}

.mugshot {
	border-radius: 115px;
	border: 5px $white solid;
	margin-top: -100px;
}

.profile-details {
	text-align: center;
	font-family: $header-font;
	margin: 0 auto;
	width: 960px;
	padding: 0 0 40px 0;
	@media only screen and (min-width: 1501px) {
		width: 1421px;
	}
	@media only screen and (max-width: 1500px) {
		width: 100%;
	}
}

.profile-details a {
	color: $cyan;
}

.profile-details a:hover {
	color: $black;
}

.profile-details dd {
	-webkit-margin-start: 0;
	margin-left: 0;
}

.profile-details .page-heading {
	border-bottom: 0;
	margin-bottom: 0;
	text-align: center;
}

.cover-photo {
	height: 300px;
	width: 100%;
	background: $light-gray;
	background-position: center;
	background-size: cover;
	@media only screen and (min-width: 500px) and (max-width: 767px) {
		height: 225px;
	}
	@media only screen and (max-width: 499px) {
		height: 175px;
	}
}

ul.errorlist {
	list-style: none;
	padding: 0;
	li {
		list-style-type: none;
		color: $magenta;
		font-family: $header-font;
	}
}

.help-block {
	color: $magenta;
}

.login-errors input[type=text], 
.login-errors input[type=password], 
.login-errors input[type=submit],
.recover-password input[type=submit],
.recover-password input#id_email,
.edit-convo input[type=submit] {
	width: 100%;
}

.edit-convo label.control-label {
	display: none;
}

.edit-convo textarea.form-control {
	width: 100%;
    height: 120px;
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
}

.edit-convo {
	font-family: $header-font;
}

.edit-convo .btn.btn-primary {
	margin-top: 25px;
}

.userena h2,
.recover-password h2 {
	margin-top: 0;
}

.login-errors ul.errorlist,
.recover-password ul.errorlist,
.edit-convo ul.errorlist {
	display: none;
}

ul.errorList li {
	margin-bottom: 5px;
}

ul.errorlist.nonfield {
	display: block;
}

@media only screen and (min-width: 1024px) {
	.content-wrapper.content-container.login-errors,
	.content-wrapper.content-container.recover-password,
	.edit-convo .form-container,
	.edit-profile .form-container {
		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 1023px) {
	.edit-convo .form-container,
	.edit-profile .form-container {
		width: 100%;
	}
}