.we {
  flex-wrap: wrap;
  justify-content: center;
  .coming-soon {
    width: 100%;
  }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.we #site-wrapper .question p.edit-response {
	margin-bottom: 10px;
}

.we #site-wrapper .question p.copyright-message-we {
  margin-bottom: 20px;
}

.archives-post {
	float: right;
	text-transform: uppercase;
	font-family: $header-font;
	margin-top: 2px;
	margin-bottom: 0;
	list-style-type: none;
	li {
		float: left;
		margin-left: 20px;
		line-height: 24px;
	}
	@media only screen and (max-width: 1023px) {
		li {
			float: right;
			margin-left: 20px;
		}
		margin-bottom: 20px;
	}
	@media only screen and (max-width: 767px) {
		/*float: none;*/
		padding: 0;
		margin-top: 5px;
	}
}

.we #site-wrapper .question p#we-question-edit {
	margin-bottom: 10px;
}

.we #site-wrapper .question h3 {
	margin-bottom: 10px;
	margin-top: 0px;
}

.we #site-wrapper .question h3 a {
	color: $black;
}

.we #site-wrapper .question h3 a:hover {
	color: $cyan;
}

.we #site-wrapper .question p {
	margin-bottom: 0px;
}

.we #site-wrapper .question p.response-timestamp {
	margin-bottom: 10px;
}

.convo-response p {
	margin-bottom: 0px;
}

.conversation {
	width: 768px;
	margin: 0 auto;
	#counter {
		border: 0;
	}
	@media only screen and (max-width: 1023px) {
    	width: 100%;
  	}
}

.we .select-file {
	width: 665px;
	margin-right: 20px;
	margin-bottom: 20px;
}


textarea.convo-question {
	width: 100%;
	height: 120px;
	margin-bottom: 25px;
	font-size: 18px;
	text-transform: uppercase;
	@media only screen and (max-width: 767px) {
		height: 180px;
	}
}

#select-file {
	margin-bottom: 10px;
	margin-right: 5px;
}

#fileLabel {
	margin-top: 10px;
}

.we-question textarea.convo-question {
	text-transform: none;
	font-size: 14px;
	margin-bottom: 20px;
}

.we.we-question #site-wrapper .question p#textarea_feedback {
	margin-bottom: 20px;
}

.we.we-question #site-wrapper .question h3 {
	margin-bottom: 5px;
}

input.convo-submit {
	width: 100%;
	margin-bottom: 30px;
}

.we-question input.convo-submit {
	margin-bottom: 0;
}

.we-question .question iframe {
	margin-bottom: 10px;
}

.responses-heading {
	border-bottom: 1px $black solid;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.convo-response {
	border: 1px $black solid;
	width: 100%; 
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
}

.convo-response img {
	width: 80%;
	margin: 20px auto;
}

#comment-url {
	margin: 20px 0;
	width: 100%;
}

.we-question .question form textarea {
	width: 100%;
	margin: 15px 0;
}

.we-question .question form input[type=submit] {
	width: 100%;
}

.vimeo {
	@media only screen and (min-width: 1600px) {
		width: 314px;
		height: 177px;
	}
	@media only screen and (min-width: 1200px) and (max-width: 1599px) {
		width: 258px;
		height: 145px;
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		width: 297px;
		height: 167px;
	}
	@media only screen and (min-width: 500px) and (max-width: 767px) {
		width: 408px;
		height: 230px;
	}
	@media only screen and (max-width: 499px) {
		width: 258px;
		height: 145px;
	}
}

.youtube {
	@media only screen and (min-width: 1600px) {
		width: 314px;
		height: 235.5px;
	}
	@media only screen and (min-width: 1200px) and (max-width: 1599px) {
		width: 258px;
		height: 193.5px;
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		width: 297px;
		height: 223px;
	}
	@media only screen and (min-width: 500px) and (max-width: 767px) {
		width: 408px;
		height: 306px;
	}
	@media only screen and (max-width: 499px) {
		width: 258px;
		height: 193px;
	}
}

.media-center {
	text-align: center;
	margin-bottom: 10px;
}

.media-center * {
	width: 100%;
}

#add-a-response input[type="file"] {
	/*width: 100%;*/
	/*margin-bottom: 20px;*/
	font-family: $header-font;
}

#textarea_feedback,
.we #site-wrapper .question p#textarea_feedback {
	margin-bottom: 25px;
}