.we {
  flex-wrap: wrap;
  justify-content: center;
  .coming-soon {
    width: 100%;
  }
}

.we-question .grid-item {
	width: 31%;
}

.we-question .grid-sizer {
	width: 33.3%;
}

.grid-item {  
	width: 48.75%;
	padding: 2px 20px 15px 20px;
	border: 1px $light-gray solid;
	margin-bottom: 30px;
	@media only screen and (min-width: 1600px) {
		width: 49%;
	}
	@media only screen and (min-width: 1024px) and (max-width: 1199px) {
		width: 48.5%;
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		width: 48%;
	}
	@media only screen and (max-width: 767px) {
		width: 100%;
	}
}

.grid-item:nth-child(odd) {
	margin-left: 1.25%;
	@media only screen and (min-width: 1600px) {
		margin-left: 1%;
	}
	@media only screen and (min-width: 1024px) and (max-width: 1199px) {
		margin-left: 1.5%;
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		margin-left: 2%;
	}
	@media only screen and (max-width: 767px) {
		margin-left: 0%;
	}
}

.we #site-wrapper .grid-item.ask-box {
	background: $black;
	color: $white;
	text-align: center;
}

.we #site-wrapper .grid-item.ask-box h3 a {
	color: $white;
}

.we .grid-item p,
.we .grid-item span {
	font-family: $header-font;
}

.we .grid-item span {
	margin-right: 20px;
}

.grid-item img {
	width: 100%;
}

.grid-sizer {
	width: 50%;
	@media only screen and (max-width: 767px) {
		width: 100%;
	}
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.archives-post {
	float: right;
	text-transform: uppercase;
	font-family: $header-font;
	margin-top: 2px;
	margin-bottom: 0;
	list-style-type: none;
	li {
		float: left;
		margin-left: 20px;
		line-height: 24px;
	}
	@media only screen and (max-width: 1023px) {
		li {
			float: right;
			margin-left: 20px;
		}
		margin-bottom: 20px;
	}
	@media only screen and (max-width: 767px) {
		/*float: none;*/
		padding: 0;
		margin-top: 5px;
	}
}

.we #site-wrapper .question p#we-question-edit {
	margin-bottom: 10px;
}

.we #site-wrapper .question h3 {
	margin-bottom: 10px;
	margin-top: 0px;
}

.we #site-wrapper .question h3 a {
	color: $black;
}

.we #site-wrapper .question h3 a:hover {
	color: $cyan;
}

.we #site-wrapper .question p {
	margin-bottom: 0px;
}

.we #site-wrapper .question p.response-timestamp {
	margin-bottom: 10px;
}

.convo-response p {
	margin-bottom: 0px;
}

.conversation {
	width: 768px;
	margin: 0 auto;
	.grid-item {
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0;
	}
	#counter {
		border: 0;
	}
	@media only screen and (max-width: 1023px) {
    	width: 100%;
  	}
}

.we .select-file {
	width: 665px;
	margin-right: 20px;
	margin-bottom: 20px;
}

textarea.convo-question {
	width: 100%;
	height: 120px;
	margin-bottom: 25px;
	font-size: 18px;
	text-transform: uppercase;
}

.we-question textarea.convo-question {
	text-transform: none;
	font-size: 14px;
	margin-bottom: 20px;
}

.we.we-question #site-wrapper .question p#textarea_feedback {
	margin-bottom: 20px;
}

.we.we-question #site-wrapper .question h3 {
	margin-bottom: 20px;
}

input.convo-submit {
	width: 100%;
	margin-bottom: 30px;
}

.we-question input.convo-submit {
	margin-bottom: 0;
}

.responses-heading {
	border-bottom: 1px $black solid;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.convo-responses .grid-item {
	padding: 20px;
}

.convo-response {
	border: 1px $black solid;
	width: 100%; 
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
}

.convo-response img {
	width: 80%;
	margin: 20px auto;
}

#comment-url {
	margin-bottom: 20px;
	width: 100%;
}

.response-vid {
	margin: 20px auto;
	width: 100%;
}

.media-center {
	text-align: center;
	margin-bottom: 10px;
}

.media-center * {
	width: 100%;
}

#add-a-response input[type="file"] {
	width: 100%;
	margin-bottom: 20px;
	font-family: $header-font;
}

#textarea_feedback,
.we #site-wrapper .question p#textarea_feedback {
	margin-bottom: 25px;
}