// media query sizes
$small: 540px;
$medium: 960px;
$large: 1280px;
$xlarge: 1600px;

// typography
$base-font: 'dinlight', Helvetica, sans-serif;
$header-font: 'dinmed', Helvetica, sans-serif;
$base-line-height: 1.5;
$base-font-size: 13px;

// Colors
$white: #F9F9F9;
$black: #212121;
$link: #FF4323;
