*,
*:before,
*:after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @extend html;
  position: relative;
  &.black {
    background-color: $black;
  }
  &.white {
    background-color: $white;
  }
}
