main {
  @extend .flex;
  height: 88vh;
  position: relative;
  flex-direction: column;
  &.black {
    background-color: $black;
  }
  &.white {
    background-color: $white;
  }
  .columns-wrapper {
    width: 100%;
    height: 100%;
    @extend .flex;
    transition: height 0.3s ease-in-out 0.3s;
    &.shrunk {
      height: 6vh;
    }
    .column {
      height: 100%;
      @extend .flex;
      flex: 0 1 25%;
      align-items: center;
      justify-content: center;
      background-color: $black;
      color: $white;
      transition: flex 0.3s ease-in-out,
                  height 0.3s ease-in-out 0.3s,
                  border 0.3s ease-in-out 0.6s;
      &:nth-of-type(2n) {
        background-color: $white;
        color: $black;
      }
      &.open {
        flex: 0 1 85%;
        &.open.open {
          border-bottom: none;
        }
      }
      &.tabbed {
        height: 6vh;
      }
    }
  }
}
.section-title {
  text-transform: uppercase;
  cursor: pointer;
  @media all and (max-width: $medium) {
    font-size: 1.2em;
  }
}
.section-wrapper {
  height: 82vh;
  position: relative;
}
