section.now {
  background-color: $white;
  color: $black;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  padding: 16px 4px 0;

  &.open {
    display: flex;
  }
  &.closed {
    display: none;
  }

  .now-post {
    border: 4px solid $black;
    width: 48%;
    margin: 4px auto;
    padding: 4px;

    a {
      color: $black;
      font-size: 1.2em;
    }

    @media all and (min-width: $small) {
      width: 30%;
      margin: 4px;
    }
    @media all and (min-width: $medium) {
      width: 20%;
    }
  }

  @media all and (min-width: $small) {
    flex-direction: column;
  }
}
