<div class="work black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<div id="work-nav">
				<a href="../sperry"><i class="mdi mdi-arrow-left"></i> Previous</a>
				<a href=".."><i class="mdi mdi-border-all"></i> View All</a>
				<a href="../cisco">Next <i class="mdi mdi-arrow-right"></i></a>
			</div>

			<div class='swipe-container'>
			    <div class='image-swipe-controls' style='text-align:center;'>
			      <a href="#" class='left-img-control' onclick='mySwipe.prev()'><i class="mdi mdi-arrow-left"></i></a> 
			      <a href="#" class='right-img-control' onclick='mySwipe.next()'><i class="mdi mdi-arrow-right"></i></a>
			    </div>
			    <div id='mySwipe' style='max-width:865px;width:100%;margin:0 auto' class='swipe'>
			      <div class='swipe-wrap'>
			        <div class="slide"><img src="{{STATIC_URL}}img/fightclub/01_FIGHTCLUB_SADWICH.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/fightclub/02_FIGHTCLUB_SADWICH.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/fightclub/03_FIGHTCLUB_SADWICH.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/fightclub/04_FIGHTCLUB_SADWICH.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/fightclub/06_FIGHTCLUB_SADWICH.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/fightclub/07_FIGHTCLUB_SADWICH.jpg"></div>
			        <div class="slide"><img src="{{STATIC_URL}}img/fightclub/08_FIGHTCLUB_SADWICH.jpg"></div>
			        <div class="slide"><iframe src="https://player.vimeo.com/video/157022427" class="embedded-vimeo" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
			      </div>
			    </div>
			</div>

	      	<div class="project-writeup">
				<h2>Fight Club Sandwich</h2>
				<h2 class="project-medium">Performance Art</h2>
				<p class="project-date">June 2015</p>
				<p>
					<a href="http://spokehub.org/accounts/kwamec" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/kwamec'>
							<div class='cover-photo' id='kwame-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/a0f386c9ca.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>kwamec</b></h2>
							</div>
						</a>
						<dd>GRAPHIC DESIGNER</dd>
						<dd>Berlin, Germany</dd>
						<dd><a href='http://www.instagram.com/kwamecharles/'target='blank'>instagram.com/kwamecharles/</a></dd>
						<dd><a href='mailto:kwame@spokehub.org'>kwame@spokehub.org</a></dd>
					</div>">Kwame Charles</a> 
					/ Patrick Krawczykowski 
					/ <a href="http://spokehub.org/accounts/thegoodviv" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/thegoodviv'>
							<div class='cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/thumbs/69a77cb30c.jpg.200x200_q85.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>thegoodviv</b></h2>
							</div>
						</a>
						<dd>Designer</dd>
						<dd>Berlin, Germany</dd>
						<dd><a href='http://www.thegoodviv.com/'target='blank'>TheGoodVIV</a></dd>
						<dd><a href='mailto:vivian.kvitka@gmail.com'>vivian.kvitka@gmail.com</a></dd>
					</div>">Vivian Kvitka</a> 
					/ Jana Nowack 
					/ <a href="http://spokehub.org/accounts/onikasi" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/onikasi'>
							<div class='cover-photo' id='onika-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/b3ae9b4f09.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>onikasi</b></h2>
							</div>
						</a>
						<dd>Innovation Strategist</dd>
						<dd>BERLIN, Germany</dd>
						<dd><a href='http://spokehub.tumblr.com/'target='blank'>Spoke The Hubbub</a></dd>
						<dd><a href='mailto:onika@spokehub.org'>onika@spokehub.org</a></dd>
					</div>">Onika Simon</a>
				</p>
				<p class="project-desc">A collaborative performance, choreographed art film, social sculpture composed of hazmat suits and series of photographic prints - Fight Club Sandwich was developed and produced by members of the <a href="http://kn-context.com/"target="_blank">KN Collective</a> in Berlin, as part of the inaugural Berlin Food Art Week.</p>
			</div>

		</div>
	</div>
{% endblock %}

</div>