<div class="work black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<div id="work-nav">
				<a href="../bca"><i class="mdi mdi-arrow-left"></i> Previous</a>
				<a href=".."><i class="mdi mdi-border-all"></i> View All</a>
				<a href="../sperry">Next <i class="mdi mdi-arrow-right"></i></a>
			</div>

			<!--  Outer wrapper for presentation only, this can be anything you like -->
			<div id="banner-fade">

				<!-- start Basic Jquery Slider -->
				<ul class="bjqs">
					<li><img src="{{STATIC_URL}}img/fightclub/01_FIGHTCLUB_SADWICH.jpg"></li>
					<li><img src="{{STATIC_URL}}img/fightclub/02_FIGHTCLUB_SADWICH.jpg"></li>
					<li><img src="{{STATIC_URL}}img/fightclub/03_FIGHTCLUB_SADWICH.jpg"></li>
					<li><img src="{{STATIC_URL}}img/fightclub/04_FIGHTCLUB_SADWICH.jpg"></li>
					<li><img src="{{STATIC_URL}}img/fightclub/06_FIGHTCLUB_SADWICH.jpg"></li>
					<li><img src="{{STATIC_URL}}img/fightclub/07_FIGHTCLUB_SADWICH.jpg"></li>
					<li><img src="{{STATIC_URL}}img/fightclub/08_FIGHTCLUB_SADWICH.jpg"></li>
				</ul>
				<!-- end Basic jQuery Slider -->

			</div>
			<!-- End outer wrapper -->

			<script class="secret-source">
				jQuery(document).ready(function($) {

					$('#banner-fade').bjqs({
						height      : 612,
						width       : 865,
						responsive  : true
					});

				});
			</script>

	      	<div class="project-writeup">
				<h2>Fight Club Sandwich</h2>
				<h2 class="project-medium">Performance</h2>
				<p class="project-date">June 2015</p>
				<p>Kwame Charles / Patrick Krawczykowski / Vivian Kvitka / Jana Nowack / Onika Simon</p>
				<p class="project-desc">A collaborative performance, choreographed art film, social sculpture composed of hazmat suits and series of photographic prints - Fight Club Sandwich was developed and produced by members of the <a href="http://kn-context.com/"target="_blank">KN Collective</a> in Berlin, as part of the inaugural Berlin Food Art Week.</p>
			</div>

		</div>
	</div>
{% endblock %}

</div>