<div class="work black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<div id="work-nav">
				<a href="../endemol"><i class="mdi mdi-arrow-left"></i> Previous</a>
				<a href=".."><i class="mdi mdi-border-all"></i> View All</a>
				<a href="../irrelationship">Next <i class="mdi mdi-arrow-right"></i></a>
			</div>

			<div class='swipe-container'>
			    <div id='mySwipe' style='max-width:865px;width:100%;margin:0 auto' class='swipe'>
			      <div class='swipe-wrap'>
			        <div class="slide"><img src="{{STATIC_URL}}img/redbull/white_flag.jpg"></div>
			      </div>
			    </div>
			</div>

      	<div class="project-writeup">
			<h2>Bully Client</h2>
			<h2 class="project-medium">Backlash Development</h2>
			<p class="project-date">January 2016</p>
			<p><a href="http://spokehub.org/accounts/kwamec" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/kwamec'>
							<div class='cover-photo' id='kwame-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/a0f386c9ca.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>kwamec</b></h2>
							</div>
						</a>
						<ul>
							<li>GRAPHIC DESIGNER</li>
							<li>Berlin, Germany</li>
							<li><a href='http://www.instagram.com/kwamecharles/'target='blank'>instagram.com/kwamecharles/</a></li>
							<li><a href='mailto:kwame@spokehub.org'>kwame@spokehub.org</a></li>
						</ul>
					</div>">Kwame Charles</a> / <a href="http://spokehub.org/accounts/onikasi"  class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/onikasi'>
							<div class='cover-photo' id='onika-cover-photo'></div>
							<img class='mugshot' src='http://spokehub.org/uploads/mugshots/b3ae9b4f09.jpg'/>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>onikasi</b></h2>
							</div>
						</a>
						<ul>
							<li>Innovation Strategist</li>
							<li>BERLIN, Germany</li>
							<li><a href='http://spokehub.tumblr.com/'target='blank'>Spoke The Hubbub</a></li>
							<li><a href='mailto:onika@spokehub.org'>onika@spokehub.org</a></li>
						</ul>
					</div>">Onika Simon</a> / Julien Queyrane</p>
			<p class="project-desc">Spokehub was founded so that independent creatives can collaborate and introduce new things to the world. Sometimes you have to work with the biggest brands, to create and deliver new things quickly, but there's always a risk involved. Because sometimes big brands don't want anyone to know how their magic is made. Any company that buys ideas and then attempts to destroy all evidence of where they came from, is going to have a tough time in the 21st Century. Sharing, respect and accountability are values that are trending across global media platforms right now - in relationships, in politics and in business. So corporate bullies will soon go the way of dinosaurs, but in the meantime we exist to break their bad habits and to shift the balance of power in our future's favour. Because creativity is not a commodity. This is how we work now. This is Spokehub..</p>
		</div>

		</div>
	</div>
{% endblock %}

</div>
