<div class="work black-bg">

{% extends 'base.html' %}

{% block content %}
	<div id="site-wrapper"> 
		<div class="content-wrapper content-container">
			<div id="work-nav">
				<a href="../cisco"><i class="mdi mdi-arrow-left"></i> Previous</a>
				<a href=".."><i class="mdi mdi-border-all"></i> View All</a>
				<a href="../sorry">Next <i class="mdi mdi-arrow-right"></i></a>
			</div>

			<div class='swipe-container'>
			    <div id='mySwipe' style='max-width:865px;width:100%;margin:0 auto' class='swipe'>
			      <div class='swipe-wrap'>
			        <div class="slide"><img src="{{STATIC_URL}}img/cfg/vision-and-philosophy.jpg"></div>
			      </div>
			    </div>
			</div>

      	<div class="project-writeup">
			<h2>City Football Group</h2>
			<h2 class="project-medium">User Insight</h2>
			<p class="project-date">July 2015</p>
			<p><a href="http://spokehub.org/accounts/kwamec" class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/kwamec'>
							<div class='cover-photo' id='kwame-cover-photo'></div>
							<div class='profile-img-thumb' style='background-image:url(http://spokehub.org/uploads/mugshots/a0f386c9ca.jpg);'></div>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>kwamec</b></h2>
							</div>
						</a>
						<ul>
							<li>GRAPHIC DESIGNER</li>
							<li>Berlin, Germany</li>
							<li><a href='http://www.instagram.com/kwamecharles/'target='blank'>instagram.com/kwamecharles/</a></li>
							<li><a href='mailto:kwame@spokehub.org'>kwame@spokehub.org</a></li>
						</ul>
					</div>">Kwame Charles</a> / <a href="http://spokehub.org/accounts/onikasi"  class='btn btn-primary btn-large' data-popover="true" data-html="true" data-content="
					<div class='username-hover'>
						<a href='http://spokehub.org/accounts/onikasi'>
							<div class='cover-photo' id='onika-cover-photo'></div>
							<img class='mugshot' src='http://spokehub.org/uploads/mugshots/b3ae9b4f09.jpg'/>
							<div class='page-heading'>
								<h2 class='hub-list-username'><b>onikasi</b></h2>
							</div>
						</a>
						<ul>
							<li>Innovation Strategist</li>
							<li>BERLIN, Germany</li>
							<li><a href='http://spokehub.tumblr.com/'target='blank'>Spoke The Hubbub</a></li>
							<li><a href='mailto:onika@spokehub.org'>onika@spokehub.org</a></li>
						</ul>
					</div>">Onika Simon</a></p>
			<p class="project-desc">Ethnographic insight and design strategy, in partnership with <a href="http://twelfthman.co/#!/"target="_blank">Twelfth Man</a> - to guide development of the future recruitment journey for 12-19 year old footballers.</p>
			</p>
		</div>

		</div>
	</div>
{% endblock %}

</div>