*,
*:before,
*:after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

html, body {
  height: 100%;
  width: 100%;
}

body, #site-wrapper {
  position: relative;
}
.content-wrapper{
  @extend .flex;
  section {
    height: 85vh;
    margin-bottom: 8vh;
    @extend .flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    transition: width 0.3s;
    &:nth-of-type(2n) {
      color: white;
      background: black;
    }
    h1 {
      text-transform: uppercase;

    }
  }
}
a {
  color: inherit;
}
.active {
  width: 100% !important;
}
.inactive {
  height: 5vh !important;
}
